sample_files/cms_out/cms-out-message-65101-flat.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C XML Schema generated by XMLSpy v2016 rel. 2 sp1 (x64) (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.kewill.com/logistics/klic/cms-out" targetNamespace="http://www.kewill.com/logistics/klic/cms-out" elementFormDefault="qualified">
	<xs:element name="cms-out" type="cms-outType"/>
	<xs:complexType name="cms-outType">
		<xs:sequence>
			<xs:element name="ediCustomerNumber" type="ediCustomerNumberType" minOccurs="0"/>
			<xs:element name="ediCustomerDepartment" type="ediCustomerDepartmentType" minOccurs="0"/>
			<xs:element name="ediParm1" type="ediParm1Type" minOccurs="0"/>
			<xs:element name="ediParm2" type="ediParm2Type" minOccurs="0"/>
			<xs:element name="ediParm3" type="ediParm3Type" minOccurs="0"/>
			<xs:element name="transmitter" type="transmitterType" minOccurs="0"/>
			<xs:element name="receiver" type="receiverType" minOccurs="0"/>
			<xs:element name="ediReference" type="ediReferenceType"/>
			<xs:element name="referenceIndication" type="referenceIndicationType" minOccurs="0"/>
			<xs:element name="internalOrderNumber" type="internalOrderNumberType" minOccurs="0"/>
			<xs:element name="ediFunction1" type="ediFunction1Type"/>
			<xs:element name="ediCustomerSearchName" type="ediCustomerSearchNameType" minOccurs="0"/>
			<xs:element name="reason" type="reasonType" minOccurs="0"/>
			<xs:element name="employeesInitials" type="employeesInitialsType" minOccurs="0"/>
			<xs:element name="dateTimeZone" type="dateTimeType" minOccurs="0"/>
			<xs:element name="order" type="orderType"/>
		</xs:sequence>
		<xs:attribute name="type" type="stringType" use="required" fixed="tag"/>
	</xs:complexType>
	<xs:complexType name="orderType">
		<xs:sequence>
			<xs:element name="operationalPeriod" type="operationalPeriodType" minOccurs="0"/>
			<xs:element name="loadingDate" type="loadingDateType" minOccurs="0"/>
			<xs:element name="loadingTime" type="loadingTimeType" minOccurs="0"/>
			<xs:element name="unloadingDate" type="unloadingDateType" minOccurs="0"/>
			<xs:element name="unloadingTime" type="unloadingTimeType" minOccurs="0"/>
			<xs:element name="waybill" type="waybillType" minOccurs="0"/>
			<xs:element name="houseWaybill" type="houseWaybillType" minOccurs="0"/>
			<xs:element name="primaryReference" type="primaryReferenceType" minOccurs="0"/>
			<xs:element name="deliveryTerm" type="deliveryTermType" minOccurs="0"/>
			<xs:element name="deliveryTermPlace" type="deliveryTermPlaceType" minOccurs="0"/>
			<xs:element name="originPlaceCode" type="originPlaceCodeType" minOccurs="0"/>
			<xs:element name="destinationPlaceCode" type="destinationPlaceCodeType" minOccurs="0"/>
			<xs:element name="transport" type="transportType" minOccurs="0"/>
			<xs:element name="airfreight" type="airfreightType" minOccurs="0"/>
			<xs:element name="customItems" type="customItemsType" minOccurs="0"/>
			<xs:element name="amounts" type="amountsType" minOccurs="0"/>
			<xs:element name="codes" type="codesType" minOccurs="0"/>
			<xs:element name="parameters" type="parametersType" minOccurs="0"/>
			<xs:element name="department" type="departmentType" minOccurs="0"/>
			<xs:element name="statusCode" type="statusCodeType" minOccurs="0"/>
			<xs:element name="tailorFiller15" type="tailorFiller15Type" minOccurs="0"/>
			<xs:element name="extraAmount" type="extraAmountType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="address" type="addressType" minOccurs="0" maxOccurs="100"/>
			<xs:element name="extraReference" type="extraReferenceType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="link" type="linkType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="trackingAndTracing" type="trackingAndTracingType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="freeText" type="freeTextType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="invoiceSet" type="invoiceSetType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="articleLine" type="articleLineType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="container" type="containerType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="tailorMade" type="tailorMadeType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="type" type="stringType" use="required" fixed="tag"/>
	</xs:complexType>
	<xs:complexType name="extraAmountType">
		<xs:sequence>
			<xs:element name="amountType" type="amountTypeType" minOccurs="0"/>
			<xs:element name="currencyCode" type="currencyCodeType" minOccurs="0"/>
			<xs:element name="amount" type="ST_amountS219" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="type" type="stringType" use="required" fixed="tag"/>
	</xs:complexType>
	<xs:complexType name="addressType">
		<xs:sequence>
			<xs:element name="addressType" type="addressTypeType" minOccurs="0"/>
			<xs:element name="searchName" type="searchNameType" minOccurs="0"/>
			<xs:element name="relationNumber" type="relationNumberType" minOccurs="0"/>
			<xs:element name="searchString" type="searchStringType" minOccurs="0"/>
			<xs:element name="additional" type="additionalType" minOccurs="0"/>
			<xs:element name="addressDetails" type="addressDetailsType" minOccurs="0"/>
			<xs:element name="contactInformation" type="contactInformationType" minOccurs="0"/>
			<xs:element name="timeFrames" type="timeFramesType" minOccurs="0" maxOccurs="99"/>
		</xs:sequence>
		<xs:attribute name="type" type="stringType" use="required" fixed="tag"/>
	</xs:complexType>
	<xs:complexType name="timeFramesType">
		<xs:annotation>
			<xs:documentation>The opening hours of an address.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="fromTime" type="fromTimeType" minOccurs="0"/>
			<xs:element name="tillTime" type="tillTimeType" minOccurs="0"/>
			<xs:element name="tailorFillerA10" type="tailorFillerA10Type" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="type" type="stringType" use="required" fixed="tag"/>
	</xs:complexType>
	<xs:complexType name="extraReferenceType">
		<xs:sequence>
			<xs:element name="referenceCode" type="referenceCodeType" minOccurs="0"/>
			<xs:element name="referenceText" type="referenceTextType" minOccurs="0"/>
			<xs:element name="tailorFiller20" type="tailorFiller20Type" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="type" type="stringType" use="required" fixed="tag"/>
	</xs:complexType>
	<xs:complexType name="linkType">
		<xs:sequence>
			<xs:element name="linkType" type="linkTypeType" minOccurs="0"/>
			<xs:element name="linkText" type="linkTextType" minOccurs="0"/>
			<xs:element name="linkAddress" type="linkAddressType" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="type" type="stringType" use="required" fixed="tag"/>
	</xs:complexType>
	<xs:complexType name="trackingAndTracingType">
		<xs:sequence>
			<xs:element name="dateTimeZone" type="dateTimeType" minOccurs="0"/>
			<xs:element name="sequenceNumber" type="sequenceNumberType" minOccurs="0"/>
			<xs:element name="destinationCode" type="destinationCodeType" minOccurs="0"/>
			<xs:element name="code" type="codeType" minOccurs="0"/>
			<xs:element name="trackingStatus" type="trackingStatusType" minOccurs="0"/>
			<xs:element name="remarks65" type="remarks65Type" minOccurs="0"/>
			<xs:element name="remarks68" type="remarks68Type" minOccurs="0"/>
			<xs:element name="alter" type="alterType" minOccurs="0"/>
			<xs:element name="ttAlertStatus" type="ttAlertStatusType" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="type" type="stringType" use="required" fixed="tag"/>
	</xs:complexType>
	<xs:complexType name="freeTextType">
		<xs:sequence>
			<xs:element name="typeOfFreeText" type="typeOfFreeTextType" minOccurs="0"/>
			<xs:element name="text" type="textType" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="type" type="stringType" use="required" fixed="tag"/>
	</xs:complexType>
	<xs:complexType name="invoiceSetType">
		<xs:sequence>
			<xs:element name="set" type="setType" minOccurs="0"/>
			<xs:element name="currencyCodePurchase" type="currencyCodePurchaseType" minOccurs="0"/>
			<xs:element name="currencyCodeCustoms" type="currencyCodeCustomsType" minOccurs="0"/>
			<xs:element name="currencyCodeFreight" type="currencyCodeFreightType" minOccurs="0"/>
			<xs:element name="currencyCodeInsurance" type="currencyCodeInsuranceType" minOccurs="0"/>
			<xs:element name="currencyCodeOtherCosts" type="currencyCodeOtherCostsType" minOccurs="0"/>
			<xs:element name="invoices" type="invoicesType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="type" type="stringType" use="required" fixed="tag"/>
	</xs:complexType>
	<xs:complexType name="invoicesType">
		<xs:sequence>
			<xs:element name="invoiceReference" type="invoiceReferenceType" minOccurs="0"/>
			<xs:element name="purchasePrice" type="purchasePriceType" minOccurs="0"/>
			<xs:element name="customsValue" type="customsValueType" minOccurs="0"/>
			<xs:element name="freightCosts" type="freightCostsType" minOccurs="0"/>
			<xs:element name="insuranceCosts" type="insuranceCostsType" minOccurs="0"/>
			<xs:element name="otherCosts" type="otherCostsType" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="type" type="stringType" use="required" fixed="tag"/>
	</xs:complexType>
	<xs:complexType name="articleLineType">
		<xs:sequence>
			<xs:element name="statusCode" type="ST_statusCodeN1" minOccurs="0"/>
			<xs:element name="orderType" type="orderTypeType" minOccurs="0"/>
			<xs:element name="articleCode" type="articleCodeType" minOccurs="0"/>
			<xs:element name="taricCode" type="taricCodeType" minOccurs="0"/>
			<xs:element name="quantity" type="ST_quantityS313" minOccurs="0"/>
			<xs:element name="packageCode" type="packageCodeType" minOccurs="0"/>
			<xs:element name="expected" type="expectedType" minOccurs="0"/>
			<xs:element name="fromCustomsStatus" type="fromCustomsStatusType" minOccurs="0"/>
			<xs:element name="customLineItems" type="customLineItemsWms" minOccurs="0"/>
			<xs:element name="invoiceInfo" type="invoiceInfoType" minOccurs="0"/>
			<xs:element name="orderTypeSpecification" type="orderTypeSpecificationType" minOccurs="0"/>
			<xs:element name="selectionCodes" type="selectionCodesType" minOccurs="0"/>
			<xs:element name="extraTransactionData" type="extraTransactionDataType" minOccurs="0"/>
			<xs:element name="tailorFiller20" type="tailorFiller20Type" minOccurs="0"/>
			<xs:element name="articleLineFreeText" type="articleLineFreeTextType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="lot" type="lotType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="lotConditions" type="lotConditionsType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="type" type="stringType" use="required" fixed="tag"/>
	</xs:complexType>
	<xs:complexType name="articleLineFreeTextType">
		<xs:sequence>
			<xs:element name="articleLineText" type="articleLineTextType" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="type" type="stringType" use="required" fixed="tag"/>
	</xs:complexType>
	<xs:complexType name="lotType">
		<xs:sequence>
			<xs:element name="lotCode" type="lotCodeType" minOccurs="0"/>
			<xs:element name="lotDate" type="lotDateType" minOccurs="0"/>
			<xs:element name="lotCodeDateSequence" type="lotCodeDateSequenceType" minOccurs="0"/>
			<xs:element name="expected" type="expectedType" minOccurs="0"/>
			<xs:element name="tailorFiller20" type="tailorFiller20Type" minOccurs="0"/>
			<xs:element name="lotCharacteristics" type="lotCharacteristicsType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="type" type="stringType" use="required" fixed="tag"/>
	</xs:complexType>
	<xs:complexType name="lotCharacteristicsType">
		<xs:annotation>
			<xs:documentation>Lotcharacteristics are characterists per lot, not being the (expire) date, like quality, quality checked Y/N,colour (when not an different article code), supplier article code,......</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="characteristicsCode" type="characteristicsCodeType" minOccurs="0"/>
			<xs:element name="value" type="valueType" minOccurs="0"/>
			<xs:element name="proRataNumber" type="proRataNumberType" minOccurs="0"/>
			<xs:element name="lotCharacteristicsFreeText" type="lotCharacteristicsFreeTextType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="type" type="stringType" use="required" fixed="tag"/>
	</xs:complexType>
	<xs:complexType name="lotCharacteristicsFreeTextType">
		<xs:annotation>
			<xs:documentation>This tag is used when the characteristic represents a freetext possibility.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="lotCharacteristicsText" type="lotCharacteristicsTextType" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="type" type="stringType" use="required" fixed="tag"/>
	</xs:complexType>
	<xs:complexType name="lotConditionsType">
		<xs:sequence>
			<xs:element name="characteristicsCode" type="characteristicsCodeType" minOccurs="0"/>
			<xs:element name="operator" type="operatorType" minOccurs="0"/>
			<xs:element name="value" type="valueType" minOccurs="0"/>
			<xs:element name="lotConditionsDescription" type="lotConditionsDescriptionType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="type" type="stringType" use="required" fixed="tag"/>
	</xs:complexType>
	<xs:complexType name="lotConditionsDescriptionType">
		<xs:sequence>
			<xs:element name="lotCharacteristicsText" type="lotCharacteristicsTextType" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="type" type="stringType" use="required" fixed="tag"/>
	</xs:complexType>
	<xs:complexType name="containerType">
		<xs:annotation>
			<xs:documentation>Although the max occurrence is set to unbound it is depending on settings. When the 'old' (prior version 6.03) container structure is used, the max occurrence is effectively 99 instead of unbound.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ID" type="IDType" minOccurs="0"/>
			<xs:element name="type" type="typeType" minOccurs="0"/>
			<xs:element name="sealNumber" type="sealNumberLong" minOccurs="0"/>
			<xs:element name="ventilation" type="ventilationType" minOccurs="0"/>
			<xs:element name="airHumidity" type="airHumidityType" minOccurs="0"/>
			<xs:element name="temperatureCelsius" type="temperatureCelsiusType" minOccurs="0"/>
			<xs:element name="temperatureFahrenheit" type="temperatureFahrenheitType" minOccurs="0"/>
			<xs:element name="quantity" type="quantityType" minOccurs="0"/>
			<xs:element name="grossWeight" type="grossWeightType" minOccurs="0"/>
			<xs:element name="volume" type="volumeType" minOccurs="0"/>
			<xs:element name="goodsValue" type="goodsValueType" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="type" type="stringType" use="required" fixed="tag"/>
	</xs:complexType>
	<xs:complexType name="tailorMadeType">
		<xs:sequence>
			<xs:element name="tailorCode" type="tailorCodeType" minOccurs="0"/>
			<xs:element name="value" type="ST_valueA100" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="type" type="stringType" use="required" fixed="tag"/>
	</xs:complexType>
	<xs:complexType name="transportType">
		<xs:sequence>
			<xs:element name="nameMeansOfTransport" type="nameMeansOfTransportType" minOccurs="0"/>
			<xs:element name="referenceOfAgent" type="referenceOfAgentType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="airfreightType">
		<xs:sequence>
			<xs:element name="airwayBill" type="airwayBillType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="customItemsType">
		<xs:sequence>
			<xs:element name="manifestNumber" type="manifestNumberType" minOccurs="0"/>
			<xs:element name="documentCode" type="documentCodeType" minOccurs="0"/>
			<xs:element name="documentNumber" type="documentNumberType" minOccurs="0"/>
			<xs:element name="documentIssuingOffice" type="documentIssuingOfficeType" minOccurs="0"/>
			<xs:element name="countryOfOrigin" type="countryOfOriginType" minOccurs="0"/>
			<xs:element name="countryOfDespatch" type="countryOfDespatchType" minOccurs="0"/>
			<xs:element name="countryOfDestination" type="countryOfDestinationType" minOccurs="0"/>
			<xs:element name="documentIssuingDate" type="documentIssuingDateType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="amountsType">
		<xs:annotation>
			<xs:documentation>The amounts can be used for tailor made solutions. Check with PSG consultants when to use.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="amount1" type="amount1Type" minOccurs="0"/>
			<xs:element name="amount2" type="amount2Type" minOccurs="0"/>
			<xs:element name="amount3" type="amount3Type" minOccurs="0"/>
			<xs:element name="amount4" type="amount4Type" minOccurs="0"/>
			<xs:element name="amount5" type="amount5Type" minOccurs="0"/>
			<xs:element name="amount6" type="amount6Type" minOccurs="0"/>
			<xs:element name="amount7" type="amount7Type" minOccurs="0"/>
			<xs:element name="amount8" type="amount8Type" minOccurs="0"/>
			<xs:element name="amount9" type="amount9Type" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="codesType">
		<xs:annotation>
			<xs:documentation>The codes can be used for tailor made solutions. Check with PSG consultants when to use.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="code1" type="code1Type" minOccurs="0"/>
			<xs:element name="code2" type="code2Type" minOccurs="0"/>
			<xs:element name="code3" type="code3Type" minOccurs="0"/>
			<xs:element name="code4" type="code4Type" minOccurs="0"/>
			<xs:element name="code5" type="code5Type" minOccurs="0"/>
			<xs:element name="code6" type="code6Type" minOccurs="0"/>
			<xs:element name="code7" type="code7Type" minOccurs="0"/>
			<xs:element name="code8" type="code8Type" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="parametersType">
		<xs:annotation>
			<xs:documentation>The parameters can be used for tailor made solutions. Check with PSG consultants when to use.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="parameterYn01" type="parameterYn01Type" minOccurs="0"/>
			<xs:element name="parameterYn02" type="parameterYn02Type" minOccurs="0"/>
			<xs:element name="parameterYn03" type="parameterYn03Type" minOccurs="0"/>
			<xs:element name="parameterYn04" type="parameterYn04Type" minOccurs="0"/>
			<xs:element name="parameterYn05" type="parameterYn05Type" minOccurs="0"/>
			<xs:element name="parameterYn06" type="parameterYn06Type" minOccurs="0"/>
			<xs:element name="parameterYn07" type="parameterYn07Type" minOccurs="0"/>
			<xs:element name="parameterYn08" type="parameterYn08Type" minOccurs="0"/>
			<xs:element name="parameterYn09" type="parameterYn09Type" minOccurs="0"/>
			<xs:element name="parameterYn10" type="parameterYn10Type" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="additionalType">
		<xs:sequence>
			<xs:element name="vatIdNumber" type="vatIdNumberType" minOccurs="0"/>
			<xs:element name="ILNNumber" type="ILNNumberType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="addressDetailsType">
		<xs:sequence>
			<xs:element name="nameLine1" type="nameLine1Type" minOccurs="0"/>
			<xs:element name="nameLine2" type="nameLine2Type" minOccurs="0"/>
			<xs:element name="nameLine3" type="nameLine3Type" minOccurs="0"/>
			<xs:element name="addressLine1" type="addressLine1Type" minOccurs="0"/>
			<xs:element name="addressLine2" type="addressLine2Type" minOccurs="0"/>
			<xs:element name="addressLine3" type="addressLine3Type" minOccurs="0"/>
			<xs:element name="cityName" type="cityNameType" minOccurs="0"/>
			<xs:element name="cityName2" type="cityName2Type" minOccurs="0"/>
			<xs:element name="postalCode" type="postalCodeType" minOccurs="0"/>
			<xs:element name="countryCode" type="countryCodeType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="contactInformationType">
		<xs:sequence>
			<xs:element name="languageCode" type="languageCodeType" minOccurs="0"/>
			<xs:element name="e-mailAddress" type="e-mailAddressType" minOccurs="0"/>
			<xs:element name="internetAddress" type="internetAddressType" minOccurs="0"/>
			<xs:element name="contactPerson" type="contactPersonType" minOccurs="0"/>
			<xs:element name="telephoneNumber" type="telephoneNumberType" minOccurs="0"/>
			<xs:element name="telefaxNumber" type="telefaxNumberType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="alterType">
		<xs:sequence>
			<xs:element name="alterSignedInd" type="alterSignedIndType" minOccurs="0"/>
			<xs:element name="alterInHrsmin" type="alterInHrsminType" minOccurs="0"/>
			<xs:element name="alterInDays" type="alterInDaysType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="expectedType">
		<xs:sequence>
			<xs:element name="quantitySKU" type="quantitySKUType" minOccurs="0"/>
			<xs:element name="grossWeight" type="grossWeightType" minOccurs="0"/>
			<xs:element name="netWeight" type="netWeightType" minOccurs="0"/>
			<xs:element name="quantityPackageCode1" type="quantityPackageCode1Type" minOccurs="0"/>
			<xs:element name="quantityPackageCode2" type="quantityPackageCode2Type" minOccurs="0"/>
			<xs:element name="quantityPackageCode3" type="quantityPackageCode3Type" minOccurs="0"/>
			<xs:element name="quantityPackageCode4" type="quantityPackageCode4Type" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="customLineItemsWms">
		<xs:sequence>
			<xs:element name="documentCode" type="documentCodeType" minOccurs="0"/>
			<xs:element name="documentNumber" type="documentNumberType" minOccurs="0"/>
			<xs:element name="documentItemNumber" type="documentItemNumberType" minOccurs="0"/>
			<xs:element name="documentIssuingOffice" type="ST_documentIssuingOfficeA10" minOccurs="0"/>
			<xs:element name="countryOfOrigin" type="countryOfOriginType" minOccurs="0"/>
			<xs:element name="countryOfDespatch" type="countryOfDespatchType" minOccurs="0"/>
			<xs:element name="countryOfDestination" type="countryOfDestinationType" minOccurs="0"/>
			<xs:element name="deliveryTerm" type="deliveryTermType" minOccurs="0"/>
			<xs:element name="invoice" type="invoiceType" minOccurs="0"/>
			<xs:element name="documentIssuingDate" type="documentIssuingDateType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="invoiceInfoType">
		<xs:sequence>
			<xs:element name="purchasePrice" type="purchasePriceType" minOccurs="0"/>
			<xs:element name="currencyCodePurchase" type="currencyCodePurchaseType" minOccurs="0"/>
			<xs:element name="customsValue" type="customsValueType" minOccurs="0"/>
			<xs:element name="currencyCodeCustoms" type="currencyCodeCustomsType" minOccurs="0"/>
			<xs:element name="freightCosts" type="freightCostsType" minOccurs="0"/>
			<xs:element name="currencyCodeFreight" type="currencyCodeFreightType" minOccurs="0"/>
			<xs:element name="insuranceCosts" type="insuranceCostsType" minOccurs="0"/>
			<xs:element name="currencyCodeInsurance" type="currencyCodeInsuranceType" minOccurs="0"/>
			<xs:element name="otherCosts" type="otherCostsType" minOccurs="0"/>
			<xs:element name="currencyCodeOtherCosts" type="currencyCodeOtherCostsType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="selectionCodesType">
		<xs:annotation>
			<xs:documentation>The selection codes can be used to group a set of orders. For example an container number. Creating bookigs can be done with the given container so creating bookings is easier.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="selectionCode1" type="selectionCode1Type" minOccurs="0"/>
			<xs:element name="selectionCode2" type="selectionCode2Type" minOccurs="0"/>
			<xs:element name="selectionCode3" type="selectionCode3Type" minOccurs="0"/>
			<xs:element name="selectionCode4" type="selectionCode4Type" minOccurs="0"/>
			<xs:element name="selectionCode5" type="selectionCode5Type" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="extraTransactionDataType">
		<xs:sequence>
			<xs:element name="transactionAmount" type="transactionAmountType" minOccurs="0"/>
			<xs:element name="transactionCurrency" type="transactionCurrencyType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>Base type and element specifications</xs:documentation>
	</xs:annotation>
	<xs:simpleType name="NType">
		<xs:annotation>
			<xs:documentation>Non-negative integer value (no fractional digits).</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:nonNegativeInteger"/>
	</xs:simpleType>
	<xs:simpleType name="AType">
		<xs:annotation>
			<xs:documentation>Character string value without control characters.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="(\P{Cc})*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DTType">
		<xs:annotation>
			<xs:documentation>Date value specified in the following form "YYYY-MM-DDThh:mm:ss".</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:dateTime"/>
	</xs:simpleType>
	<xs:simpleType name="stringType">
		<xs:annotation>
			<xs:documentation>Character string value</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="DYType">
		<xs:annotation>
			<xs:documentation>Date value specified in the following form "YYYY-MM-DD".</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:date"/>
	</xs:simpleType>
	<xs:simpleType name="TSType">
		<xs:annotation>
			<xs:documentation>Time value specified in the following form "hh:mm:ss".</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:time"/>
	</xs:simpleType>
	<xs:simpleType name="AUType">
		<xs:annotation>
			<xs:documentation>Character string value (uppercase) without control characters.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="AType">
			<xs:pattern value="([^a-z])*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="S2Type">
		<xs:annotation>
			<xs:documentation>Decimal value (maximum number of fractional digits 2).</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:fractionDigits value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="booleanType">
		<xs:annotation>
			<xs:documentation>Boolean type to specify a true or false value.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:boolean"/>
	</xs:simpleType>
	<xs:simpleType name="booleanKlType">
		<xs:annotation>
			<xs:documentation>Kewill specific boolean type using ^ as true and ` as false.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[\^`]"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CAType">
		<xs:annotation>
			<xs:documentation>Boolean type to specify a true or false value</xs:documentation>
		</xs:annotation>
		<xs:union memberTypes="booleanType booleanKlType"/>
	</xs:simpleType>
	<xs:simpleType name="N2Type">
		<xs:annotation>
			<xs:documentation>Non-negative decimal value (maximum number of fractional digits 2).</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:fractionDigits value="2"/>
			<xs:minInclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="S3Type">
		<xs:annotation>
			<xs:documentation>Decimal value (maximum number of fractional digits 3).</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:fractionDigits value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="S5Type">
		<xs:annotation>
			<xs:documentation>Decimal value (maximum number of fractional digits 5).</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:fractionDigits value="5"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ediCustomerNumberType">
		<xs:annotation>
			<xs:documentation>The edi settings are located,combined with the other ediParm values, with this number.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="NType">
			<xs:maxInclusive value="999999999999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ediCustomerDepartmentType">
		<xs:restriction base="AType">
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ediParm1Type">
		<xs:annotation>
			<xs:documentation>This controls, in combination with ediParm2 and ediParm3, the processing of a file. With these settings Kewill Logistics can determine departments/defaults etc.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="NType">
			<xs:maxInclusive value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ediParm2Type">
		<xs:restriction base="AType">
			<xs:maxLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ediParm3Type">
		<xs:restriction base="AType">
			<xs:maxLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="transmitterType">
		<xs:restriction base="AType">
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="receiverType">
		<xs:restriction base="AType">
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ediReferenceType">
		<xs:annotation>
			<xs:documentation>This is used to identify edi files.It is used when updates/ delete/ add is send of a previous transmission.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="AType">
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="referenceIndicationType">
		<xs:annotation>
			<xs:documentation>Indication of the reference which is refered to when using the ediReference field. not set or set with 0  the ediReference is an external EDI reference set with 1  the ediReference points is the con note number set with 9  the ediReference points to a message reference</xs:documentation>
		</xs:annotation>
		<xs:restriction base="NType">
			<xs:enumeration value="0"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="internalOrderNumberType">
		<xs:annotation>
			<xs:documentation>This will update the correct file directly without using the ediReference.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="NType">
			<xs:maxInclusive value="999999999999999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ediFunction1Type">
		<xs:annotation>
			<xs:documentation>1-Remove transmission 2-Items to be added 4-Items to be changed 5-Replace transmission 6-Confirmation transmission 9-Initial transmission</xs:documentation>
		</xs:annotation>
		<xs:restriction base="AType">
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ediCustomerSearchNameType">
		<xs:restriction base="AType">
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="reasonType">
		<xs:restriction base="AType">
			<xs:maxLength value="40"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="employeesInitialsType">
		<xs:annotation>
			<xs:documentation>The initial of the person who created/updated/deleted this EDI file.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="AType">
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="dateTimeType">
		<xs:annotation>
			<xs:documentation>This is the actual date/time/zone value.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="DTType"/>
	</xs:simpleType>
	<xs:simpleType name="operationalPeriodType">
		<xs:annotation>
			<xs:documentation>Period number</xs:documentation>
		</xs:annotation>
		<xs:restriction base="AType">
			<xs:maxLength value="7"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="loadingDateType">
		<xs:restriction base="DYType"/>
	</xs:simpleType>
	<xs:simpleType name="loadingTimeType">
		<xs:restriction base="TSType"/>
	</xs:simpleType>
	<xs:simpleType name="unloadingDateType">
		<xs:restriction base="DYType"/>
	</xs:simpleType>
	<xs:simpleType name="unloadingTimeType">
		<xs:annotation>
			<xs:documentation>This is the actual time of unloading</xs:documentation>
		</xs:annotation>
		<xs:restriction base="TSType"/>
	</xs:simpleType>
	<xs:simpleType name="waybillType">
		<xs:annotation>
			<xs:documentation>External master freight number</xs:documentation>
		</xs:annotation>
		<xs:restriction base="AType">
			<xs:maxLength value="17"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="houseWaybillType">
		<xs:annotation>
			<xs:documentation>External freight number</xs:documentation>
		</xs:annotation>
		<xs:restriction base="AType">
			<xs:maxLength value="17"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="primaryReferenceType">
		<xs:annotation>
			<xs:documentation>This reference is the reference you can search for.For example your order number.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="AType">
			<xs:maxLength value="30"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="deliveryTermType">
		<xs:annotation>
			<xs:documentation>Possible values can be found in program ts2109.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="AType">
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="deliveryTermPlaceType">
		<xs:restriction base="AType">
			<xs:maxLength value="15"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="originPlaceCodeType">
		<xs:restriction base="AUType">
			<xs:maxLength value="5"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="destinationPlaceCodeType">
		<xs:restriction base="AUType">
			<xs:maxLength value="5"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="nameMeansOfTransportType">
		<xs:restriction base="AType">
			<xs:maxLength value="25"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="referenceOfAgentType">
		<xs:restriction base="AType">
			<xs:maxLength value="15"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="airwayBillType">
		<xs:restriction base="NType">
			<xs:maxInclusive value="99999999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="manifestNumberType">
		<xs:restriction base="AType">
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="documentCodeType">
		<xs:annotation>
			<xs:documentation>Here the document code must be used with which the goods are received under customs. Example is T-1</xs:documentation>
		</xs:annotation>
		<xs:restriction base="AUType">
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="documentNumberType">
		<xs:restriction base="AType">
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="documentIssuingOfficeType">
		<xs:annotation>
			<xs:documentation>The place where the document was issued.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="AType">
			<xs:maxLength value="17"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="countryOfOriginType">
		<xs:annotation>
			<xs:documentation>Preferable the ISO 3166 2 letter is used.Depending on configuration</xs:documentation>
		</xs:annotation>
		<xs:restriction base="AUType">
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="countryOfDespatchType">
		<xs:restriction base="AUType">
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="countryOfDestinationType">
		<xs:restriction base="AUType">
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="documentIssuingDateType">
		<xs:restriction base="DYType"/>
	</xs:simpleType>
	<xs:simpleType name="amount1Type">
		<xs:restriction base="S2Type">
			<xs:minInclusive value="-9999999.99"/>
			<xs:maxInclusive value="9999999.99"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="amount2Type">
		<xs:restriction base="S2Type">
			<xs:minInclusive value="-9999999.99"/>
			<xs:maxInclusive value="9999999.99"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="amount3Type">
		<xs:restriction base="S2Type">
			<xs:minInclusive value="-9999999.99"/>
			<xs:maxInclusive value="9999999.99"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="amount4Type">
		<xs:restriction base="S2Type">
			<xs:minInclusive value="-9999999.99"/>
			<xs:maxInclusive value="9999999.99"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="amount5Type">
		<xs:restriction base="S2Type">
			<xs:minInclusive value="-9999999.99"/>
			<xs:maxInclusive value="9999999.99"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="amount6Type">
		<xs:restriction base="S2Type">
			<xs:minInclusive value="-9999999.99"/>
			<xs:maxInclusive value="9999999.99"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="amount7Type">
		<xs:restriction base="S2Type">
			<xs:minInclusive value="-9999999.99"/>
			<xs:maxInclusive value="9999999.99"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="amount8Type">
		<xs:restriction base="S2Type">
			<xs:minInclusive value="-9999999.99"/>
			<xs:maxInclusive value="9999999.99"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="amount9Type">
		<xs:restriction base="S2Type">
			<xs:minInclusive value="-9999999.99"/>
			<xs:maxInclusive value="9999999.99"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="code1Type">
		<xs:restriction base="NType">
			<xs:maxInclusive value="9999999999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="code2Type">
		<xs:restriction base="NType">
			<xs:maxInclusive value="9999999999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="code3Type">
		<xs:restriction base="NType">
			<xs:maxInclusive value="9999999999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="code4Type">
		<xs:restriction base="NType">
			<xs:maxInclusive value="9999999999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="code5Type">
		<xs:restriction base="NType">
			<xs:maxInclusive value="9999999999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="code6Type">
		<xs:restriction base="NType">
			<xs:maxInclusive value="9999999999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="code7Type">
		<xs:restriction base="NType">
			<xs:maxInclusive value="9999999999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="code8Type">
		<xs:restriction base="NType">
			<xs:maxInclusive value="9999999999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="parameterYn01Type">
		<xs:restriction base="CAType"/>
	</xs:simpleType>
	<xs:simpleType name="parameterYn02Type">
		<xs:restriction base="CAType"/>
	</xs:simpleType>
	<xs:simpleType name="parameterYn03Type">
		<xs:restriction base="CAType"/>
	</xs:simpleType>
	<xs:simpleType name="parameterYn04Type">
		<xs:restriction base="CAType"/>
	</xs:simpleType>
	<xs:simpleType name="parameterYn05Type">
		<xs:restriction base="CAType"/>
	</xs:simpleType>
	<xs:simpleType name="parameterYn06Type">
		<xs:restriction base="CAType"/>
	</xs:simpleType>
	<xs:simpleType name="parameterYn07Type">
		<xs:restriction base="CAType"/>
	</xs:simpleType>
	<xs:simpleType name="parameterYn08Type">
		<xs:restriction base="CAType"/>
	</xs:simpleType>
	<xs:simpleType name="parameterYn09Type">
		<xs:restriction base="CAType"/>
	</xs:simpleType>
	<xs:simpleType name="parameterYn10Type">
		<xs:restriction base="CAType"/>
	</xs:simpleType>
	<xs:simpleType name="departmentType">
		<xs:restriction base="AType">
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="statusCodeType">
		<xs:restriction base="NType">
			<xs:maxInclusive value="999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tailorFiller15Type">
		<xs:annotation>
			<xs:documentation>Check with PSG consultants for usage.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="AType">
			<xs:maxLength value="15"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="amountTypeType">
		<xs:restriction base="NType">
			<xs:maxInclusive value="9999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="currencyCodeType">
		<xs:restriction base="AUType">
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_amountS219">
		<xs:restriction base="S2Type"/>
	</xs:simpleType>
	<xs:simpleType name="addressTypeType">
		<xs:annotation>
			<xs:documentation>0 = Customer 1 = loading address 2 = Consignor trader 3 = unloading address 4 = consignee trader 5 = agent 6 = carrier 7 = ship broker 8 = carrier 9 = notify 10 = reserve</xs:documentation>
		</xs:annotation>
		<xs:restriction base="NType">
			<xs:maxInclusive value="99"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="searchNameType">
		<xs:annotation>
			<xs:documentation>This is the unique searchname in Kewill Logistics. The searchName or relationNumber must exist if Kewill Logistics is configured to re- use data. See programm ts5002 for configuration.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="AUType">
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="relationNumberType">
		<xs:annotation>
			<xs:documentation>See searchName.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="NType">
			<xs:maxInclusive value="999999999999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="searchStringType">
		<xs:annotation>
			<xs:documentation>This can be used for finding an address whithout the relationNumber and searchName. Kewill Logistics will use this value to find an address in a link table. This link (configured in ts5002-&gt;address mapping) must be maintained manual. The customer and this value must be entered and then a existing address must be chosen. The link must be entered manual every time a customer has a new code. Kewill Logistics will first find the linked address and use this as it was in the EDI file. Afterwards the parameters (in ts5002) are handled normally.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="AType">
			<xs:maxLength value="50"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="vatIdNumberType">
		<xs:restriction base="AType">
			<xs:maxLength value="17"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ILNNumberType">
		<xs:annotation>
			<xs:documentation>The ILN number is also known as the EANnumber for customers. However the official term is ILNNumber.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="AType">
			<xs:maxLength value="13"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="nameLine1Type">
		<xs:restriction base="AType">
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="nameLine2Type">
		<xs:restriction base="AType">
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="nameLine3Type">
		<xs:restriction base="AType">
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="addressLine1Type">
		<xs:restriction base="AType">
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="addressLine2Type">
		<xs:restriction base="AType">
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="addressLine3Type">
		<xs:restriction base="AType">
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="cityNameType">
		<xs:restriction base="AType">
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="cityName2Type">
		<xs:restriction base="AType">
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="postalCodeType">
		<xs:restriction base="AUType">
			<xs:maxLength value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="countryCodeType">
		<xs:restriction base="AUType">
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="languageCodeType">
		<xs:restriction base="NType">
			<xs:maxInclusive value="99"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="e-mailAddressType">
		<xs:restriction base="AType">
			<xs:maxLength value="50"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="internetAddressType">
		<xs:restriction base="AType">
			<xs:maxLength value="50"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="contactPersonType">
		<xs:restriction base="AType">
			<xs:maxLength value="15"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="telephoneNumberType">
		<xs:restriction base="AType">
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="telefaxNumberType">
		<xs:restriction base="AType">
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="fromTimeType">
		<xs:restriction base="TSType"/>
	</xs:simpleType>
	<xs:simpleType name="tillTimeType">
		<xs:restriction base="TSType"/>
	</xs:simpleType>
	<xs:simpleType name="tailorFillerA10Type">
		<xs:annotation>
			<xs:documentation>Check with PSG consultants for usage.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="AType">
			<xs:maxLength value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="referenceCodeType">
		<xs:annotation>
			<xs:documentation>Represents the type of extra reference. For example 2 means: Unloading address reference. Depending on configuration. Configured in program ts2128.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="NType">
			<xs:maxInclusive value="9999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="referenceTextType">
		<xs:restriction base="AType">
			<xs:maxLength value="30"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tailorFiller20Type">
		<xs:annotation>
			<xs:documentation>Check with PSG consultants for usage.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="AType">
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="linkTypeType">
		<xs:restriction base="NType">
			<xs:maxInclusive value="9999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="linkTextType">
		<xs:restriction base="AType">
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="linkAddressType">
		<xs:restriction base="AType">
			<xs:maxLength value="100"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="sequenceNumberType">
		<xs:restriction base="NType">
			<xs:maxInclusive value="99"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="destinationCodeType">
		<xs:restriction base="AUType">
			<xs:maxLength value="5"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="codeType">
		<xs:restriction base="AUType">
			<xs:maxLength value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="trackingStatusType">
		<xs:restriction base="NType">
			<xs:maxInclusive value="99"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="remarks65Type">
		<xs:restriction base="AType">
			<xs:maxLength value="65"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="remarks68Type">
		<xs:restriction base="AType">
			<xs:maxLength value="68"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="alterSignedIndType">
		<xs:restriction base="AType">
			<xs:maxLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="alterInHrsminType">
		<xs:restriction base="TSType"/>
	</xs:simpleType>
	<xs:simpleType name="alterInDaysType">
		<xs:restriction base="NType">
			<xs:maxInclusive value="999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ttAlertStatusType">
		<xs:restriction base="NType">
			<xs:maxInclusive value="99"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="typeOfFreeTextType">
		<xs:annotation>
			<xs:documentation>The type of description.Example ICA for Issuing Carrier Agent, CUS for customer related text. See program ts2121 for possible values.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="AUType">
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="textType">
		<xs:restriction base="AType">
			<xs:maxLength value="70"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="setType">
		<xs:annotation>
			<xs:documentation>Represents a set of invoices.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="AType">
			<xs:maxLength value="17"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="currencyCodePurchaseType">
		<xs:restriction base="AUType">
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="currencyCodeCustomsType">
		<xs:restriction base="AUType">
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="currencyCodeFreightType">
		<xs:restriction base="AUType">
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="currencyCodeInsuranceType">
		<xs:restriction base="AUType">
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="currencyCodeOtherCostsType">
		<xs:restriction base="AUType">
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="invoiceReferenceType">
		<xs:restriction base="AType">
			<xs:maxLength value="17"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="purchasePriceType">
		<xs:annotation>
			<xs:documentation>This represents the purchase price.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="N2Type">
			<xs:maxInclusive value="9999999999999.99"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="customsValueType">
		<xs:restriction base="N2Type">
			<xs:maxInclusive value="999999999999.99"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="freightCostsType">
		<xs:restriction base="N2Type">
			<xs:maxInclusive value="99999999.99"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="insuranceCostsType">
		<xs:restriction base="N2Type">
			<xs:maxInclusive value="99999999999.99"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="otherCostsType">
		<xs:restriction base="S2Type">
			<xs:minInclusive value="-999999999999.99"/>
			<xs:maxInclusive value="999999999999.99"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_statusCodeN1">
		<xs:restriction base="NType">
			<xs:maxInclusive value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="orderTypeType">
		<xs:annotation>
			<xs:documentation>50 = inbound 51 = outbound 55 = add stock 56 = subtract stock</xs:documentation>
		</xs:annotation>
		<xs:restriction base="NType">
			<xs:enumeration value="50"/>
			<xs:enumeration value="51"/>
			<xs:enumeration value="55"/>
			<xs:enumeration value="56"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="articleCodeType">
		<xs:restriction base="AType">
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="taricCodeType">
		<xs:annotation>
			<xs:documentation>This represent the taric code used for customs.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="AType">
			<xs:maxLength value="22"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_quantityS313">
		<xs:restriction base="S3Type">
			<xs:minInclusive value="-999999999.999"/>
			<xs:maxInclusive value="999999999.999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="packageCodeType">
		<xs:restriction base="AType">
			<xs:maxLength value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="quantitySKUType">
		<xs:annotation>
			<xs:documentation>This is the quantity in the stock keeping unit so the smallest package code.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="S3Type">
			<xs:minInclusive value="-999999999.999"/>
			<xs:maxInclusive value="999999999.999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="grossWeightType">
		<xs:annotation>
			<xs:documentation>Only use when stock is done on weight. This is used for example for cheese.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="S3Type">
			<xs:minInclusive value="-9999999999.999"/>
			<xs:maxInclusive value="9999999999.999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="netWeightType">
		<xs:annotation>
			<xs:documentation>Only use when stock is done on weight. This is used for example for cheese.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="S3Type">
			<xs:minInclusive value="-9999999999.999"/>
			<xs:maxInclusive value="9999999999.999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="quantityPackageCode1Type">
		<xs:restriction base="S3Type">
			<xs:minInclusive value="-999999999.999"/>
			<xs:maxInclusive value="999999999.999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="quantityPackageCode2Type">
		<xs:restriction base="S3Type">
			<xs:minInclusive value="-999999999.999"/>
			<xs:maxInclusive value="999999999.999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="quantityPackageCode3Type">
		<xs:restriction base="S3Type">
			<xs:minInclusive value="-999999999.999"/>
			<xs:maxInclusive value="999999999.999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="quantityPackageCode4Type">
		<xs:restriction base="S3Type">
			<xs:minInclusive value="-999999999.999"/>
			<xs:maxInclusive value="999999999.999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="fromCustomsStatusType">
		<xs:restriction base="NType">
			<xs:maxInclusive value="99"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="documentItemNumberType">
		<xs:restriction base="NType">
			<xs:maxInclusive value="9999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_documentIssuingOfficeA10">
		<xs:restriction base="AType">
			<xs:maxLength value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="invoiceType">
		<xs:restriction base="AType">
			<xs:maxLength value="15"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="orderTypeSpecificationType">
		<xs:annotation>
			<xs:documentation>Only allowed when orderType = 55 or 56 Furhter specifies the reason of the stock transaction. Depending on configuration. Configured in ts3603.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="NType">
			<xs:maxInclusive value="99"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="selectionCode1Type">
		<xs:restriction base="AType">
			<xs:maxLength value="15"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="selectionCode2Type">
		<xs:restriction base="AType">
			<xs:maxLength value="15"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="selectionCode3Type">
		<xs:restriction base="AType">
			<xs:maxLength value="15"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="selectionCode4Type">
		<xs:restriction base="AType">
			<xs:maxLength value="15"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="selectionCode5Type">
		<xs:restriction base="AType">
			<xs:maxLength value="15"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="transactionAmountType">
		<xs:restriction base="S2Type">
			<xs:minInclusive value="-99999999999.99"/>
			<xs:maxInclusive value="99999999999.99"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="transactionCurrencyType">
		<xs:restriction base="AUType">
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="articleLineTextType">
		<xs:restriction base="AType">
			<xs:maxLength value="70"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="lotCodeType">
		<xs:annotation>
			<xs:documentation>Kewill Logistics can automatically create a lotcode. This is depending on article settings.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="AType">
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="lotDateType">
		<xs:restriction base="DYType"/>
	</xs:simpleType>
	<xs:simpleType name="lotCodeDateSequenceType">
		<xs:annotation>
			<xs:documentation>This can be used to make a lot unique when the lotcode,lotdate and type of stock (see precedingDocumentCode) is the same for different lots.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="NType">
			<xs:maxInclusive value="99"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="characteristicsCodeType">
		<xs:annotation>
			<xs:documentation>See program ts3611 for possible values per article. see ts3607 for all existing codes. This code must be linked to the article!</xs:documentation>
		</xs:annotation>
		<xs:restriction base="NType">
			<xs:maxInclusive value="9999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="valueType">
		<xs:restriction base="AType">
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="proRataNumberType">
		<xs:restriction base="S5Type"/>
	</xs:simpleType>
	<xs:simpleType name="lotCharacteristicsTextType">
		<xs:restriction base="AType">
			<xs:maxLength value="60"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="operatorType">
		<xs:restriction base="AType">
			<xs:maxLength value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="IDType">
		<xs:restriction base="AUType">
			<xs:maxLength value="11"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="typeType">
		<xs:annotation>
			<xs:documentation>Depending on configuration, see ts2117</xs:documentation>
		</xs:annotation>
		<xs:restriction base="AUType">
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="sealNumberLong">
		<xs:annotation>
			<xs:documentation>Seal number on the container</xs:documentation>
		</xs:annotation>
		<xs:restriction base="AType">
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ventilationType">
		<xs:annotation>
			<xs:documentation>Indicate if the container is provided or should be provided with ventilation for the relevant goods type. This is for information purposes only.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="AType">
			<xs:maxLength value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="airHumidityType">
		<xs:annotation>
			<xs:documentation>The minimum humidity for transport. For informational purpose only.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="N2Type">
			<xs:maxInclusive value="9999.99"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="temperatureCelsiusType">
		<xs:annotation>
			<xs:documentation>Inicates the minimum temperature this container can be reached by the cooling of the container.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="S2Type">
			<xs:minInclusive value="-999.99"/>
			<xs:maxInclusive value="999.99"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="temperatureFahrenheitType">
		<xs:restriction base="S2Type">
			<xs:minInclusive value="-999.99"/>
			<xs:maxInclusive value="999.99"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="quantityType">
		<xs:restriction base="S3Type">
			<xs:minInclusive value="-9999999999.999"/>
			<xs:maxInclusive value="9999999999.999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="volumeType">
		<xs:annotation>
			<xs:documentation>This is the volume. When the volume code is C this is HxWxL . When the volume code is L this is WxL.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="S3Type">
			<xs:minInclusive value="-9999999999.999"/>
			<xs:maxInclusive value="9999999999.999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="goodsValueType">
		<xs:restriction base="N2Type">
			<xs:maxInclusive value="999999999999.99"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tailorCodeType">
		<xs:restriction base="AType">
			<xs:maxLength value="6"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_valueA100">
		<xs:restriction base="AType">
			<xs:maxLength value="100"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
