sample_files/shipment_out/shipment-out-message-65101-flat.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C XML Schema generated by XMLSpy v2016 rel. 2 sp1 (x64) (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.kewill.com/logistics/klic/shipment-out" targetNamespace="http://www.kewill.com/logistics/klic/shipment-out" elementFormDefault="qualified">
	<xs:element name="shipment-out" type="shipment-outType"/>
	<xs:complexType name="shipment-outType">
		<xs:sequence>
			<xs:element name="ediCustomerNumber" type="ediCustomerNumberType" minOccurs="0"/>
			<xs:element name="ediCustomerDepartment" type="ediCustomerDepartmentType" minOccurs="0"/>
			<xs:element name="ediParm1" type="ediParm1Type" minOccurs="0"/>
			<xs:element name="ediParm2" type="ediParm2Type" minOccurs="0"/>
			<xs:element name="ediParm3" type="ediParm3Type" minOccurs="0"/>
			<xs:element name="transmitter" type="transmitterType" minOccurs="0"/>
			<xs:element name="receiver" type="receiverType" minOccurs="0"/>
			<xs:element name="ediReference" type="ediReferenceType"/>
			<xs:element name="referenceIndication" type="referenceIndicationType" minOccurs="0"/>
			<xs:element name="internalShipmentNumber" type="internalShipmentNumberType" minOccurs="0"/>
			<xs:element name="ediFunction1" type="ediFunction1Type"/>
			<xs:element name="ediCustomerSearchName" type="ediCustomerSearchNameType" minOccurs="0"/>
			<xs:element name="reason" type="reasonType" minOccurs="0"/>
			<xs:element name="employeeInitials" type="employeeInitialsType" minOccurs="0"/>
			<xs:element name="dateTimeZone" type="dateTimeType" minOccurs="0"/>
			<xs:element name="file" type="fileType">
				<xs:annotation>
					<xs:documentation>shipment file header</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="type" type="stringType" use="required" fixed="tag"/>
	</xs:complexType>
	<xs:complexType name="fileType">
		<xs:sequence>
			<xs:element name="operationalPeriod" type="operationalPeriodType" minOccurs="0"/>
			<xs:element name="arrivalDate" type="arrivalDateType" minOccurs="0"/>
			<xs:element name="loadingDate" type="loadingDateType" minOccurs="0"/>
			<xs:element name="loadingTime" type="loadingTimeType" minOccurs="0"/>
			<xs:element name="unloadingDate" type="unloadingDateType" minOccurs="0"/>
			<xs:element name="unloadingTime" type="unloadingTimeType" minOccurs="0"/>
			<xs:element name="marksAndNumber" type="marksAndNumberType" minOccurs="0"/>
			<xs:element name="waybill" type="waybillType" minOccurs="0"/>
			<xs:element name="houseWaybill" type="houseWaybillType" minOccurs="0"/>
			<xs:element name="primaryReference" type="primaryReferenceType" minOccurs="0"/>
			<xs:element name="serviceLevel" type="serviceLevelType" minOccurs="0"/>
			<xs:element name="tariffType" type="tariffTypeType" minOccurs="0"/>
			<xs:element name="deliveryTerm" type="deliveryTermType" minOccurs="0"/>
			<xs:element name="deliveryTermPlace" type="deliveryTermPlaceType" minOccurs="0"/>
			<xs:element name="originPlaceCode" type="originPlaceCodeType" minOccurs="0"/>
			<xs:element name="destinationPlaceCode" type="destinationPlaceCodeType" minOccurs="0"/>
			<xs:element name="codeShedHandling" type="codeShedHandlingType" minOccurs="0"/>
			<xs:element name="daysOfShedRent" type="daysOfShedRentType" minOccurs="0"/>
			<xs:element name="shedLocationBerth" type="shedLocationBerthType" minOccurs="0"/>
			<xs:element name="totals" type="totalsType" minOccurs="0"/>
			<xs:element name="dimension" type="dimensionType" minOccurs="0"/>
			<xs:element name="transport" type="transportType" minOccurs="0"/>
			<xs:element name="seafreight" type="seafreightType" minOccurs="0"/>
			<xs:element name="airfreight" type="airfreightType" minOccurs="0"/>
			<xs:element name="customItems" type="customItemsType" minOccurs="0"/>
			<xs:element name="amounts" type="amountsType" minOccurs="0"/>
			<xs:element name="codes" type="codesType" minOccurs="0"/>
			<xs:element name="parameters" type="parametersType" minOccurs="0"/>
			<xs:element name="department" type="departmentType" minOccurs="0"/>
			<xs:element name="statusCode" type="statusCodeType" minOccurs="0"/>
			<xs:element name="tailorFiller15" type="tailorFiller15Type" minOccurs="0"/>
			<xs:element name="cashInfo" type="cashInfoType" minOccurs="0" maxOccurs="3"/>
			<xs:element name="extraAmount" type="extraAmountType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="freightCharge" type="freightChargeType" minOccurs="0" maxOccurs="99"/>
			<xs:element name="meansOfTransport" type="meansOfTransportType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="textKeys" type="textKeysType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="dateTimeZones" type="dateTimeZonesType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="address" type="addressType" minOccurs="0" maxOccurs="100"/>
			<xs:element name="extraReference" type="extraReferenceType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="returnReference" type="returnReferenceType" minOccurs="0"/>
			<xs:element name="additionalServices" type="additionalServicesType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="conNote" type="conNoteType" minOccurs="0"/>
			<xs:element name="link" type="linkType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="trackingAndTracing" type="trackingAndTracingType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="freeText" type="freeTextType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="emission" type="emissionType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="transportInstruction" type="transportInstructionType" minOccurs="0" maxOccurs="99"/>
			<xs:element name="planCharacteristic" type="planCharacteristicType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="shippingUnit" type="shippingUnitType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="goodsLine" type="goodsLineType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="container" type="containerType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="tailorMade" type="tailorMadeType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="type" type="stringType" use="required" fixed="tag"/>
	</xs:complexType>
	<xs:complexType name="cashInfoType">
		<xs:sequence>
			<xs:element name="sequenceNumber" type="codSequenceNumber" minOccurs="0"/>
			<xs:element name="currencyCode" type="currencyCodeType" minOccurs="0"/>
			<xs:element name="amount" type="ST_amountS214" minOccurs="0"/>
			<xs:element name="text" type="textType" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="type" type="stringType" use="required" fixed="tag"/>
	</xs:complexType>
	<xs:complexType name="extraAmountType">
		<xs:sequence>
			<xs:element name="amountType" type="amountTypeType" minOccurs="0"/>
			<xs:element name="currencyCode" type="currencyCodeType" minOccurs="0"/>
			<xs:element name="amount" type="ST_amountS219" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="type" type="stringType" use="required" fixed="tag"/>
	</xs:complexType>
	<xs:complexType name="freightChargeType">
		<xs:annotation>
			<xs:documentation>for general charges (oa disbursement) use sequence numbers 1 till 79 for other charges due agent use sequence numbers 80 till 83 for other charges due carrier use sequence numbers 90 till 91 for fuel surcharge use sequence number 92 for security surcharge use sequence number 93</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="sequenceNumber" type="sequenceNumberType" minOccurs="0"/>
			<xs:element name="otherChargeCode" type="otherChargeCodeType" minOccurs="0"/>
			<xs:element name="description" type="ST_descriptionA20" minOccurs="0"/>
			<xs:element name="currencyCode" type="currencyCodeType" minOccurs="0"/>
			<xs:element name="amount" type="amountType" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="type" type="stringType" use="required" fixed="tag"/>
	</xs:complexType>
	<xs:complexType name="meansOfTransportType">
		<xs:sequence>
			<xs:element name="displaySequence" type="displaySequenceType" minOccurs="0"/>
			<xs:element name="motMode" type="motModeType" minOccurs="0"/>
			<xs:element name="motType" type="motTypeType" minOccurs="0"/>
			<xs:element name="motID" type="motIDType" minOccurs="0"/>
			<xs:element name="motName" type="motNameType" minOccurs="0"/>
			<xs:element name="motIdentity" type="motIdentityType" minOccurs="0"/>
			<xs:element name="motOrigin" type="motOriginType" minOccurs="0"/>
			<xs:element name="motDestination" type="motDestinationType" minOccurs="0"/>
			<xs:element name="shipbroker" type="shipbrokerType" minOccurs="0"/>
			<xs:element name="shedLocationBerth" type="shedLocationBerthType" minOccurs="0"/>
			<xs:element name="ETD" type="ETDType" minOccurs="0"/>
			<xs:element name="ATD" type="ATDType" minOccurs="0"/>
			<xs:element name="ETA" type="ETAType" minOccurs="0"/>
			<xs:element name="ATA" type="ATAType" minOccurs="0"/>
			<xs:element name="motNationality" type="motNationalityType" minOccurs="0"/>
			<xs:element name="equipmentEmissionID" type="equipmentEmissionIDType" minOccurs="0"/>
			<xs:element name="emission" type="emissionType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="type" type="stringType" use="required" fixed="tag"/>
	</xs:complexType>
	<xs:complexType name="emissionType">
		<xs:sequence>
			<xs:element name="emissionType" type="emissionTypeType" minOccurs="0"/>
			<xs:element name="estimatedEmissionValue" type="estimatedEmissionValueType" minOccurs="0"/>
			<xs:element name="actualEmissionValue" type="actualEmissionValueType" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="type" type="stringType" use="required" fixed="tag"/>
	</xs:complexType>
	<xs:complexType name="textKeysType">
		<xs:annotation>
			<xs:documentation>Text keys are used for (external) communication and as conditions in the generation of e.g. cost and charge lines, network and cross-dock routing. They play an important role in the communication between agents and customers regarding shipment information within the German "sammelgut" transport networks (e.g. SYA, SYE)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="textKey" type="textKeyType" minOccurs="0"/>
			<xs:element name="date" type="dateType" minOccurs="0"/>
			<xs:element name="fromTime" type="fromTimeType" minOccurs="0"/>
			<xs:element name="toTime" type="toTimeType" minOccurs="0"/>
			<xs:element name="additionalInformation" type="ST_additionalInformationA35" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="type" type="stringType" use="required" fixed="tag"/>
	</xs:complexType>
	<xs:complexType name="dateTimeZonesType">
		<xs:annotation>
			<xs:documentation>The shipment contains a number of fixed date and time fields, like loading and unloading date and time. This "dateTimeZones" is used to define you're own date / time / zone fields. The type is defined in "typeOfDate", the value is defined in the "dateTimeZone".</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="typeOfDate" type="typeOfDateType" minOccurs="0"/>
			<xs:element name="dateTimeZone" type="dateTimeType" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="type" type="stringType" use="required" fixed="tag"/>
	</xs:complexType>
	<xs:complexType name="addressType">
		<xs:annotation>
			<xs:documentation>There are 3 ways to add an address to the file: 1) Via mapping of relation nr+search string+country code+postal code+ address line 1+name line 1. All or any of those fields values will be used to attempt a mapping to a chainware address. (see ts5002, address mapping) If there is no mapping possible options 2) or 3) apply. 2) Using a known relation/searchname combination 3) Manual address NOTE: 1) Overrides 2) and 3) 2) and 3) see EDI-layer settings in ts5002.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="addressType" type="addressTypeType" minOccurs="0"/>
			<xs:element name="searchName" type="searchNameType" minOccurs="0"/>
			<xs:element name="relationNumber" type="relationNumberType" minOccurs="0"/>
			<xs:element name="searchString" type="searchStringType" minOccurs="0"/>
			<xs:element name="additional" type="additionalType" minOccurs="0"/>
			<xs:element name="addressDetails" type="addressDetailsType" minOccurs="0"/>
			<xs:element name="contactInformation" type="contactInformationType" minOccurs="0"/>
			<xs:element name="manualTimeFrames" type="manualTimeFramesType" minOccurs="0"/>
			<xs:element name="timeFrames" type="timeFramesType" minOccurs="0" maxOccurs="99"/>
		</xs:sequence>
		<xs:attribute name="type" type="stringType" use="required" fixed="tag"/>
	</xs:complexType>
	<xs:complexType name="timeFramesType">
		<xs:annotation>
			<xs:documentation>The opening hours of an address.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="fromTime" type="fromTimeType" minOccurs="0"/>
			<xs:element name="tillTime" type="tillTimeType" minOccurs="0"/>
			<xs:element name="tailorFillerA10" type="tailorFillerA10Type" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="type" type="stringType" use="required" fixed="tag"/>
	</xs:complexType>
	<xs:complexType name="extraReferenceType">
		<xs:sequence>
			<xs:element name="referenceCode" type="referenceCodeType" minOccurs="0"/>
			<xs:element name="referenceText" type="referenceTextType" minOccurs="0"/>
			<xs:element name="tailorFiller20" type="tailorFiller20Type" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="type" type="stringType" use="required" fixed="tag"/>
	</xs:complexType>
	<xs:complexType name="returnReferenceType">
		<xs:annotation>
			<xs:documentation>A return shipment can be connected to the original shipment via the return reference section.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="referenceText" type="referenceTextType" minOccurs="0"/>
			<xs:element name="mainFileNumber" type="mainFileNumberType" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="type" type="stringType" use="required" fixed="tag"/>
	</xs:complexType>
	<xs:complexType name="additionalServicesType">
		<xs:sequence>
			<xs:element name="serviceCode" type="serviceCodeType" minOccurs="0"/>
			<xs:element name="tariffBaseValue" type="tariffBaseValueType" minOccurs="0"/>
			<xs:element name="conditionValue" type="conditionValueType" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="type" type="stringType" use="required" fixed="tag"/>
	</xs:complexType>
	<xs:complexType name="conNoteType">
		<xs:annotation>
			<xs:documentation>A con note number is shipment note number. This is an unique reference number to identify a shipment. The con note number has a alphanumeric prefix and a numeric part. The numeric part can be the shipment number or a number within a range of numbers received from a carrier.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="prefix" type="prefixType" minOccurs="0"/>
			<xs:element name="number" type="numberType" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="type" type="stringType" use="required" fixed="tag"/>
	</xs:complexType>
	<xs:complexType name="linkType">
		<xs:sequence>
			<xs:element name="linkType" type="linkTypeType" minOccurs="0"/>
			<xs:element name="linkText" type="linkTextType" minOccurs="0"/>
			<xs:element name="linkAddress" type="linkAddressType" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="type" type="stringType" use="required" fixed="tag"/>
	</xs:complexType>
	<xs:complexType name="trackingAndTracingType">
		<xs:sequence>
			<xs:element name="dateTimeZone" type="dateTimeType" minOccurs="0"/>
			<xs:element name="destinationCode" type="destinationCodeType" minOccurs="0"/>
			<xs:element name="code" type="codeType" minOccurs="0"/>
			<xs:element name="trackingStatus" type="trackingStatusType" minOccurs="0"/>
			<xs:element name="remark_1" type="remark_1Type" minOccurs="0"/>
			<xs:element name="remark_2" type="remark_2Type" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="type" type="stringType" use="required" fixed="tag"/>
	</xs:complexType>
	<xs:complexType name="freeTextType">
		<xs:sequence>
			<xs:element name="typeOfFreeText" type="typeOfFreeTextType" minOccurs="0"/>
			<xs:element name="text" type="textType" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="type" type="stringType" use="required" fixed="tag"/>
	</xs:complexType>
	<xs:complexType name="transportInstructionType">
		<xs:sequence>
			<xs:element name="carriageCondition" type="carriageConditionType" minOccurs="0"/>
			<xs:element name="description" type="ST_descriptionA30" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="type" type="stringType" use="required" fixed="tag"/>
	</xs:complexType>
	<xs:complexType name="planCharacteristicType">
		<xs:annotation>
			<xs:documentation>In this tag extra characteristics can be entered which are important for planning. For example COOL means a COOLED transport. See program ts3305 for possible values.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="characteristicCode" type="characteristicCodeType" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="type" type="stringType" use="required" fixed="tag"/>
	</xs:complexType>
	<xs:complexType name="shippingUnitType">
		<xs:sequence>
			<xs:element name="containedInMSU" type="containedInMSUType" minOccurs="0"/>
			<xs:element name="shippingUnitNumber" type="shippingUnitNumberType" minOccurs="0"/>
			<xs:element name="externalUnit" type="externalUnitType" minOccurs="0"/>
			<xs:element name="unitStatus" type="unitStatusType" minOccurs="0"/>
			<xs:element name="qualityCode" type="qualityCodeType" minOccurs="0"/>
			<xs:element name="carrierReference" type="carrierReferenceType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="shippingUnitDetails" type="shippingUnitDetailsType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="type" type="stringType" use="required" fixed="tag"/>
	</xs:complexType>
	<xs:complexType name="carrierReferenceType">
		<xs:sequence>
			<xs:element name="carrier" type="carrierType" minOccurs="0"/>
			<xs:element name="externalUnit" type="externalUnitType" minOccurs="0"/>
			<xs:element name="checkMethod" type="checkMethodType" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="type" type="stringType" use="required" fixed="tag"/>
	</xs:complexType>
	<xs:complexType name="shippingUnitDetailsType">
		<xs:sequence>
			<xs:element name="quantity" type="quantityType" minOccurs="0"/>
			<xs:element name="packageCode" type="packageCodeType" minOccurs="0"/>
			<xs:element name="grossWeight" type="grossWeightType" minOccurs="0"/>
			<xs:element name="netWeight" type="netWeightType" minOccurs="0"/>
			<xs:element name="chargeableWeight" type="chargeableWeightType" minOccurs="0"/>
			<xs:element name="volume" type="volumeType" minOccurs="0"/>
			<xs:element name="volumeCode" type="volumeCodeType" minOccurs="0"/>
			<xs:element name="cubicMeters" type="cubicMetersType" minOccurs="0"/>
			<xs:element name="loadingMeters" type="loadingMetersType" minOccurs="0"/>
			<xs:element name="goodsValue" type="goodsValueType" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="type" type="stringType" use="required" fixed="tag"/>
	</xs:complexType>
	<xs:complexType name="goodsLineType">
		<xs:sequence>
			<xs:element name="articleCode" type="articleCodeType" minOccurs="0"/>
			<xs:element name="primaryReference" type="primaryReferenceType" minOccurs="0"/>
			<xs:element name="quantity" type="quantityType" minOccurs="0"/>
			<xs:element name="packageCode" type="packageCodeType" minOccurs="0"/>
			<xs:element name="commodityCode" type="commodityCodeType" minOccurs="0"/>
			<xs:element name="grossWeight" type="grossWeightType" minOccurs="0"/>
			<xs:element name="netWeight" type="netWeightType" minOccurs="0"/>
			<xs:element name="volumeCode" type="volumeCodeType" minOccurs="0"/>
			<xs:element name="dimension" type="dimensionType" minOccurs="0"/>
			<xs:element name="volume" type="volumeType" minOccurs="0"/>
			<xs:element name="cubicMeters" type="cubicMetersType" minOccurs="0"/>
			<xs:element name="loadingMeters" type="loadingMetersType" minOccurs="0"/>
			<xs:element name="chargeableWeight" type="chargeableWeightType" minOccurs="0"/>
			<xs:element name="goodsValueCurrency" type="goodsValueCurrencyType" minOccurs="0"/>
			<xs:element name="goodsValue" type="goodsValueType" minOccurs="0"/>
			<xs:element name="quantityOfShippingUnits" type="quantityOfShippingUnitsType" minOccurs="0"/>
			<xs:element name="packageCodeOfShippingUnits" type="packageCodeOfShippingUnitsType" minOccurs="0"/>
			<xs:element name="dangerousGoods" type="dangerousGoodsType" minOccurs="0"/>
			<xs:element name="customLineItems" type="customLineItemsTms" minOccurs="0"/>
			<xs:element name="tailorFiller20" type="tailorFiller20Type" minOccurs="0"/>
			<xs:element name="subQuantity" type="subQuantityType" minOccurs="0" maxOccurs="99"/>
			<xs:element name="marksAndNumbers" type="marksAndNumbersType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="goodsDescription" type="goodsDescriptionType" minOccurs="0" maxOccurs="99"/>
			<xs:element name="dangerousGoodsSpecification" type="dangerousGoodsSpecificationType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="container" type="containerType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="shippingUnit" type="shippingUnitType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="type" type="stringType" use="required" fixed="tag"/>
	</xs:complexType>
	<xs:complexType name="subQuantityType">
		<xs:sequence>
			<xs:element name="quantity" type="quantityType" minOccurs="0"/>
			<xs:element name="length" type="lengthType" minOccurs="0"/>
			<xs:element name="width" type="widthType" minOccurs="0"/>
			<xs:element name="height" type="heightType" minOccurs="0"/>
			<xs:element name="volumeCode" type="volumeCodeType" minOccurs="0"/>
			<xs:element name="volume" type="volumeType" minOccurs="0"/>
			<xs:element name="cubicMeters" type="cubicMetersType" minOccurs="0"/>
			<xs:element name="loadingMeters" type="loadingMetersType" minOccurs="0"/>
			<xs:element name="packageCode" type="packageCodeType" minOccurs="0"/>
			<xs:element name="commodityCode" type="commodityCodeType" minOccurs="0"/>
			<xs:element name="commodityDescription" type="commodityDescriptionType" minOccurs="0"/>
			<xs:element name="marksNumberLong" type="marksNumberLongType" minOccurs="0"/>
			<xs:element name="grossWeight" type="grossWeightType" minOccurs="0"/>
			<xs:element name="netWeight" type="netWeightType" minOccurs="0"/>
			<xs:element name="chargeableWeight" type="chargeableWeightType" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="type" type="stringType" use="required" fixed="tag"/>
	</xs:complexType>
	<xs:complexType name="marksAndNumbersType">
		<xs:sequence>
			<xs:element name="marksAndNumber" type="marksAndNumberType" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="type" type="stringType" use="required" fixed="tag"/>
	</xs:complexType>
	<xs:complexType name="goodsDescriptionType">
		<xs:sequence>
			<xs:element name="description" type="descriptionType" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="type" type="stringType" use="required" fixed="tag"/>
	</xs:complexType>
	<xs:complexType name="dangerousGoodsSpecificationType">
		<xs:sequence>
			<xs:element name="quantity" type="quantityType" minOccurs="0"/>
			<xs:element name="dangerousGoodsPackageCode" type="dangerousGoodsPackageCodeType" minOccurs="0"/>
			<xs:element name="grossWeight" type="grossWeightType" minOccurs="0"/>
			<xs:element name="netWeight" type="netWeightType" minOccurs="0"/>
			<xs:element name="volume" type="volumeType" minOccurs="0"/>
			<xs:element name="goodsAmountInUnit" type="goodsAmountInUnitType" minOccurs="0"/>
			<xs:element name="totalQuantity" type="totalQuantityType" minOccurs="0"/>
			<xs:element name="dangerousGoodsUNNumber" type="dangerousGoodsUNNumberType" minOccurs="0"/>
			<xs:element name="dangerousGoodsUNSuffix" type="dangerousGoodsUNSuffixType" minOccurs="0"/>
			<xs:element name="unClass" type="unClassType" minOccurs="0"/>
			<xs:element name="dangerousGoodsName" type="dangerousGoodsNameType" minOccurs="0"/>
			<xs:element name="technicalDescription" type="technicalDescriptionType" minOccurs="0"/>
			<xs:element name="subsidiaryRiskClassI" type="subsidiaryRiskClassIType" minOccurs="0"/>
			<xs:element name="subsidiaryRiskClassII" type="subsidiaryRiskClassIIType" minOccurs="0"/>
			<xs:element name="subsidiaryRiskClassIII" type="subsidiaryRiskClassIIIType" minOccurs="0"/>
			<xs:element name="ADRClass" type="ADRClassType" minOccurs="0"/>
			<xs:element name="ADRCode" type="ADRCodeType" minOccurs="0"/>
			<xs:element name="RIDClass" type="RIDClassType" minOccurs="0"/>
			<xs:element name="RIDCode" type="RIDCodeType" minOccurs="0"/>
			<xs:element name="ADNClass" type="ADNClassType" minOccurs="0"/>
			<xs:element name="ADNCode" type="ADNCodeType" minOccurs="0"/>
			<xs:element name="ICAClass" type="ICAClassType" minOccurs="0"/>
			<xs:element name="ICACode" type="ICACodeType" minOccurs="0"/>
			<xs:element name="IMDClass" type="IMDClassType" minOccurs="0"/>
			<xs:element name="IMDCode" type="IMDCodeType" minOccurs="0"/>
			<xs:element name="packagingGroup" type="packagingGroupType" minOccurs="0"/>
			<xs:element name="goodsUnit" type="goodsUnitType" minOccurs="0"/>
			<xs:element name="points" type="pointsType" minOccurs="0"/>
			<xs:element name="emergencyTemperature" type="emergencyTemperatureType" minOccurs="0"/>
			<xs:element name="controlTemperature" type="controlTemperatureType" minOccurs="0"/>
			<xs:element name="flashPoint" type="flashPointType" minOccurs="0"/>
			<xs:element name="emergencyScheduleNumber" type="emergencyScheduleNumberType" minOccurs="0"/>
			<xs:element name="tunnelCode" type="tunnelCodeType" minOccurs="0"/>
			<xs:element name="provisions" type="provisionsType" minOccurs="0"/>
			<xs:element name="allowedOnRailIndicator" type="allowedOnRailIndicatorType" minOccurs="0"/>
			<xs:element name="limitedQuantityIndicator" type="limitedQuantityIndicatorType" minOccurs="0"/>
			<xs:element name="expectedQuantityIndicator" type="expectedQuantityIndicatorType" minOccurs="0"/>
			<xs:element name="harmfulIndicator" type="harmfulIndicatorType" minOccurs="0"/>
			<xs:element name="wasteIndicator" type="wasteIndicatorType" minOccurs="0"/>
			<xs:element name="emptyIndicator" type="emptyIndicatorType" minOccurs="0"/>
			<xs:element name="marinePollutantIndicator" type="marinePollutantIndicatorType" minOccurs="0"/>
			<xs:element name="marinePollutantNameIndicator" type="marinePollutantNameIndicatorType" minOccurs="0"/>
			<xs:element name="maritimeFirstAidGuide" type="maritimeFirstAidGuideType" minOccurs="0"/>
			<xs:element name="innerPackageCode" type="innerPackageCodeType" minOccurs="0"/>
			<xs:element name="additionalInformation" type="additionalInformationType" minOccurs="0"/>
			<xs:element name="technicalNames" type="technicalNamesType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="type" type="stringType" use="required" fixed="tag"/>
	</xs:complexType>
	<xs:complexType name="technicalNamesType">
		<xs:sequence>
			<xs:element name="isoLanguageCode" type="isoLanguageCodeType" minOccurs="0"/>
			<xs:element name="technicalName" type="technicalNameType" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="type" type="stringType" use="required" fixed="tag"/>
	</xs:complexType>
	<xs:complexType name="containerType">
		<xs:annotation>
			<xs:documentation>Although the max occurrence is set to unbound it is depending on settings. When the 'old' (prior version 6.03) container structure is used, the max occurrence is effectively 99 instead of unbound.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ID" type="IDType" minOccurs="0"/>
			<xs:element name="type" type="typeType" minOccurs="0"/>
			<xs:element name="sealNumber" type="sealNumberLong" minOccurs="0"/>
			<xs:element name="ventilation" type="ventilationType" minOccurs="0"/>
			<xs:element name="airHumidity" type="airHumidityType" minOccurs="0"/>
			<xs:element name="temperatureCelsius" type="temperatureCelsiusType" minOccurs="0"/>
			<xs:element name="temperatureFahrenheit" type="temperatureFahrenheitType" minOccurs="0"/>
			<xs:element name="quantity" type="quantityType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Number of packages in the container</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="grossWeight" type="grossWeightType" minOccurs="0"/>
			<xs:element name="volume" type="volumeType" minOccurs="0"/>
			<xs:element name="goodsValue" type="goodsValueType" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="type" type="stringType" use="required" fixed="tag"/>
	</xs:complexType>
	<xs:complexType name="tailorMadeType">
		<xs:sequence>
			<xs:element name="tailorCode" type="tailorCodeType" minOccurs="0"/>
			<xs:element name="value" type="ST_valueA100" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="type" type="stringType" use="required" fixed="tag"/>
	</xs:complexType>
	<xs:complexType name="totalsType">
		<xs:annotation>
			<xs:documentation>This tag is only usefull when the tag goodsLine is NOT used. The values of the elements within this tag will be ignored when the tag goodsLine is used.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="quantity" type="quantityType" minOccurs="0"/>
			<xs:element name="packageCode" type="packageCodeType" minOccurs="0"/>
			<xs:element name="commodityCode" type="commodityCodeType" minOccurs="0"/>
			<xs:element name="commodityDescription" type="commodityDescriptionType" minOccurs="0"/>
			<xs:element name="grossWeight" type="grossWeightType" minOccurs="0"/>
			<xs:element name="netWeight" type="netWeightType" minOccurs="0"/>
			<xs:element name="chargeableWeight" type="chargeableWeightType" minOccurs="0"/>
			<xs:element name="volumeCode" type="volumeCodeType" minOccurs="0"/>
			<xs:element name="volume" type="volumeType" minOccurs="0"/>
			<xs:element name="cubicMeters" type="cubicMetersType" minOccurs="0"/>
			<xs:element name="loadingMeters" type="loadingMetersType" minOccurs="0"/>
			<xs:element name="goodsValueCurrency" type="goodsValueCurrencyType" minOccurs="0"/>
			<xs:element name="goodsValue" type="goodsValueType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="dimensionType">
		<xs:annotation>
			<xs:documentation>This info will be ignored when goodsLine is used.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="length" type="lengthType" minOccurs="0"/>
			<xs:element name="width" type="widthType" minOccurs="0"/>
			<xs:element name="height" type="heightType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="transportType">
		<xs:sequence>
			<xs:element name="deliveryTermAgent" type="deliveryTermAgentType" minOccurs="0"/>
			<xs:element name="domesticTransport" type="domesticTransportType" minOccurs="0"/>
			<xs:element name="domesticTransportAmount" type="domesticTransportAmountType" minOccurs="0"/>
			<xs:element name="CollectiveCMR" type="CollectiveCMRType" minOccurs="0"/>
			<xs:element name="containerPlanning" type="containerPlanningType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="seafreightType">
		<xs:sequence>
			<xs:element name="finalDestinationPlaceCode" type="finalDestinationPlaceCodeType" minOccurs="0"/>
			<xs:element name="fclLcl" type="fclLclType" minOccurs="0"/>
			<xs:element name="originals" type="originalsType" minOccurs="0"/>
			<xs:element name="copies" type="copiesType" minOccurs="0"/>
			<xs:element name="vesselCurrencyCode" type="vesselCurrencyCodeType" minOccurs="0"/>
			<xs:element name="vesselRate" type="vesselRateType" minOccurs="0"/>
			<xs:element name="disbursementPrepaidCollect" type="disbursementPrepaidCollectType" minOccurs="0"/>
			<xs:element name="placeOfReceipt" type="placeOfReceiptType" minOccurs="0"/>
			<xs:element name="placeOfDelivery" type="placeOfDeliveryType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="airfreightType">
		<xs:sequence>
			<xs:element name="airwayBill" type="airwayBillType" minOccurs="0"/>
			<xs:element name="routing" type="routingType" minOccurs="0"/>
			<xs:element name="cargoPrepaidCollect" type="cargoPrepaidCollectType" minOccurs="0"/>
			<xs:element name="cargoCurrencyCode" type="cargoCurrencyCodeType" minOccurs="0"/>
			<xs:element name="cargoExchangeRate" type="cargoExchangeRateType" minOccurs="0"/>
			<xs:element name="cargoAmount" type="cargoAmountType" minOccurs="0"/>
			<xs:element name="costsPrepaidCollect" type="costsPrepaidCollectType" minOccurs="0"/>
			<xs:element name="costsCurrencyCode" type="costsCurrencyCodeType" minOccurs="0"/>
			<xs:element name="costsExchangeRate" type="costsExchangeRateType" minOccurs="0"/>
			<xs:element name="costsAmount" type="costsAmountType" minOccurs="0"/>
			<xs:element name="carriageAmount" type="carriageAmountType" minOccurs="0"/>
			<xs:element name="customsAmount" type="customsAmountType" minOccurs="0"/>
			<xs:element name="insuranceAmount" type="insuranceAmountType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="customItemsType">
		<xs:annotation>
			<xs:documentation>This info is ignored when goodsLine is used.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="manifestNumber" type="manifestNumberType" minOccurs="0"/>
			<xs:element name="documentCode" type="documentCodeType" minOccurs="0"/>
			<xs:element name="documentNumber" type="documentNumberType" minOccurs="0"/>
			<xs:element name="documentIssuingOffice" type="documentIssuingOfficeType" minOccurs="0"/>
			<xs:element name="countryOfOrigin" type="countryOfOriginType" minOccurs="0"/>
			<xs:element name="countryOfDespatch" type="countryOfDespatchType" minOccurs="0"/>
			<xs:element name="countryOfDestination" type="countryOfDestinationType" minOccurs="0"/>
			<xs:element name="documentIssuingDate" type="documentIssuingDateType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="amountsType">
		<xs:annotation>
			<xs:documentation>The amounts can be used for tailor made solutions. Check with PSG consultants when to use.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="amount1" type="amount1Type" minOccurs="0"/>
			<xs:element name="amount2" type="amount2Type" minOccurs="0"/>
			<xs:element name="amount3" type="amount3Type" minOccurs="0"/>
			<xs:element name="amount4" type="amount4Type" minOccurs="0"/>
			<xs:element name="amount5" type="amount5Type" minOccurs="0"/>
			<xs:element name="amount6" type="amount6Type" minOccurs="0"/>
			<xs:element name="amount7" type="amount7Type" minOccurs="0"/>
			<xs:element name="amount8" type="amount8Type" minOccurs="0"/>
			<xs:element name="amount9" type="amount9Type" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="codesType">
		<xs:annotation>
			<xs:documentation>The codes can be used for tailor made solutions. Check with PSG consultants when to use.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="code1" type="code1Type" minOccurs="0"/>
			<xs:element name="code2" type="code2Type" minOccurs="0"/>
			<xs:element name="code3" type="code3Type" minOccurs="0"/>
			<xs:element name="code4" type="code4Type" minOccurs="0"/>
			<xs:element name="code5" type="code5Type" minOccurs="0"/>
			<xs:element name="code6" type="code6Type" minOccurs="0"/>
			<xs:element name="code7" type="code7Type" minOccurs="0"/>
			<xs:element name="code8" type="code8Type" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="parametersType">
		<xs:annotation>
			<xs:documentation>The parameters can be used for tailor made solutions. Check with PSG consultants when to use.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="parameterYn01" type="parameterYn01Type" minOccurs="0"/>
			<xs:element name="parameterYn02" type="parameterYn02Type" minOccurs="0"/>
			<xs:element name="parameterYn03" type="parameterYn03Type" minOccurs="0"/>
			<xs:element name="parameterYn04" type="parameterYn04Type" minOccurs="0"/>
			<xs:element name="parameterYn05" type="parameterYn05Type" minOccurs="0"/>
			<xs:element name="parameterYn06" type="parameterYn06Type" minOccurs="0"/>
			<xs:element name="parameterYn07" type="parameterYn07Type" minOccurs="0"/>
			<xs:element name="parameterYn08" type="parameterYn08Type" minOccurs="0"/>
			<xs:element name="parameterYn09" type="parameterYn09Type" minOccurs="0"/>
			<xs:element name="parameterYn10" type="parameterYn10Type" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="shipbrokerType">
		<xs:sequence>
			<xs:element name="searchName" type="searchNameType" minOccurs="0"/>
			<xs:element name="relationNumber" type="relationNumberType" minOccurs="0"/>
			<xs:element name="searchString" type="searchStringType" minOccurs="0"/>
			<xs:element name="vatIdNumber" type="vatIdNumberType" minOccurs="0"/>
			<xs:element name="ILNNumber" type="ILNNumberType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="additionalType">
		<xs:sequence>
			<xs:element name="vatIdNumber" type="vatIdNumberType" minOccurs="0"/>
			<xs:element name="ILNNumber" type="ILNNumberType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="addressDetailsType">
		<xs:sequence>
			<xs:element name="nameLine1" type="nameLine1Type" minOccurs="0"/>
			<xs:element name="nameLine2" type="nameLine2Type" minOccurs="0"/>
			<xs:element name="nameLine3" type="nameLine3Type" minOccurs="0"/>
			<xs:element name="addressLine1" type="addressLine1Type" minOccurs="0"/>
			<xs:element name="addressLine2" type="addressLine2Type" minOccurs="0"/>
			<xs:element name="addressLine3" type="addressLine3Type" minOccurs="0"/>
			<xs:element name="cityName" type="cityNameType" minOccurs="0"/>
			<xs:element name="cityName2" type="cityName2Type" minOccurs="0"/>
			<xs:element name="destinationCode" type="destinationCodeType" minOccurs="0"/>
			<xs:element name="postalCode" type="postalCodeType" minOccurs="0"/>
			<xs:element name="countryCode" type="countryCodeType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="contactInformationType">
		<xs:sequence>
			<xs:element name="languageCode" type="languageCodeType" minOccurs="0"/>
			<xs:element name="e-mailAddress" type="e-mailAddressType" minOccurs="0"/>
			<xs:element name="internetAddress" type="internetAddressType" minOccurs="0"/>
			<xs:element name="contactPerson" type="contactPersonType" minOccurs="0"/>
			<xs:element name="telephoneNumber" type="telephoneNumberType" minOccurs="0"/>
			<xs:element name="telefaxNumber" type="telefaxNumberType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="carrierType">
		<xs:sequence>
			<xs:element name="searchName" type="searchNameType" minOccurs="0"/>
			<xs:element name="relationNumber" type="relationNumberType" minOccurs="0"/>
			<xs:element name="searchString" type="searchStringType" minOccurs="0"/>
			<xs:element name="vatIdNumber" type="vatIdNumberType" minOccurs="0"/>
			<xs:element name="ILNNumber" type="ILNNumberType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="dangerousGoodsType">
		<xs:sequence>
			<xs:element name="dangerousGoodsUNNumber" type="dangerousGoodsUNNumberType" minOccurs="0"/>
			<xs:element name="dangerousGoodsUNSuffix" type="dangerousGoodsUNSuffixType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="customLineItemsTms">
		<xs:sequence>
			<xs:element name="taricCode" type="taricCodeType" minOccurs="0"/>
			<xs:element name="documentCode" type="documentCodeType" minOccurs="0"/>
			<xs:element name="documentNumber" type="documentNumberType" minOccurs="0"/>
			<xs:element name="documentIssuingOffice" type="documentIssuingOfficeType" minOccurs="0"/>
			<xs:element name="countryOfOrigin" type="countryOfOriginType" minOccurs="0"/>
			<xs:element name="documentIssuingDate" type="documentIssuingDateType" minOccurs="0"/>
			<xs:element name="statisticalQuantity" type="statisticalQuantityType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>Base type and element specifications</xs:documentation>
	</xs:annotation>
	<xs:simpleType name="NType">
		<xs:annotation>
			<xs:documentation>Non-negative integer value (no fractional digits).</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:nonNegativeInteger"/>
	</xs:simpleType>
	<xs:simpleType name="AType">
		<xs:annotation>
			<xs:documentation>Character string value without control characters.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="(\P{Cc})*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DTType">
		<xs:annotation>
			<xs:documentation>Date value specified in the following form "YYYY-MM-DDThh:mm:ss".</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:dateTime"/>
	</xs:simpleType>
	<xs:simpleType name="stringType">
		<xs:annotation>
			<xs:documentation>Character string value</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="DYType">
		<xs:annotation>
			<xs:documentation>Date value specified in the following form "YYYY-MM-DD".</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:date"/>
	</xs:simpleType>
	<xs:simpleType name="TSType">
		<xs:annotation>
			<xs:documentation>Time value specified in the following form "hh:mm:ss".</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:time"/>
	</xs:simpleType>
	<xs:simpleType name="AUType">
		<xs:annotation>
			<xs:documentation>Character string value (uppercase) without control characters.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="AType">
			<xs:pattern value="([^a-z])*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="booleanType">
		<xs:annotation>
			<xs:documentation>Boolean type to specify a true or false value.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:boolean"/>
	</xs:simpleType>
	<xs:simpleType name="booleanKlType">
		<xs:annotation>
			<xs:documentation>Kewill specific boolean type using ^ as true and ` as false.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[\^`]"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CAType">
		<xs:annotation>
			<xs:documentation>Boolean type to specify a true or false value</xs:documentation>
		</xs:annotation>
		<xs:union memberTypes="booleanType booleanKlType"/>
	</xs:simpleType>
	<xs:simpleType name="S3Type">
		<xs:annotation>
			<xs:documentation>Decimal value (maximum number of fractional digits 3).</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:fractionDigits value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="N2Type">
		<xs:annotation>
			<xs:documentation>Non-negative decimal value (maximum number of fractional digits 2).</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:fractionDigits value="2"/>
			<xs:minInclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="N3Type">
		<xs:annotation>
			<xs:documentation>Non-negative decimal value (maximum number of fractional digits 3).</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:fractionDigits value="3"/>
			<xs:minInclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="S2Type">
		<xs:annotation>
			<xs:documentation>Decimal value (maximum number of fractional digits 2).</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:fractionDigits value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="N6Type">
		<xs:annotation>
			<xs:documentation>Non-negative decimal value (maximum number of fractional digits 6).</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:fractionDigits value="6"/>
			<xs:minInclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ediCustomerNumberType">
		<xs:annotation>
			<xs:documentation>The edi settings are located,combined with the other ediParm values, with this number.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="NType">
			<xs:maxInclusive value="999999999999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ediCustomerDepartmentType">
		<xs:restriction base="AType">
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ediParm1Type">
		<xs:annotation>
			<xs:documentation>This controls, in combination with ediParm2 and ediParm3, the processing of a file. With these settings Kewill Logistics can determine departments/defaults etc.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="NType">
			<xs:maxInclusive value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ediParm2Type">
		<xs:restriction base="AType">
			<xs:maxLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ediParm3Type">
		<xs:restriction base="AType">
			<xs:maxLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="transmitterType">
		<xs:restriction base="AType">
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="receiverType">
		<xs:restriction base="AType">
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ediReferenceType">
		<xs:annotation>
			<xs:documentation>This is used to identify edi files.It is used when updates/ delete/ add is send of a previous transmission.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="AType">
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="referenceIndicationType">
		<xs:annotation>
			<xs:documentation>Indication of the reference which is refered to when using the ediReference field. not set or set with 0  the ediReference is an external EDI reference set with 1  the ediReference points is the con note number set with 9  the ediReference points to a message reference</xs:documentation>
		</xs:annotation>
		<xs:restriction base="NType">
			<xs:enumeration value="0"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="internalShipmentNumberType">
		<xs:annotation>
			<xs:documentation>This will update the correct file directly without using the ediReference.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="NType">
			<xs:maxInclusive value="999999999999999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ediFunction1Type">
		<xs:annotation>
			<xs:documentation>1-Remove transmission 2-Items to be added 4-Replace goodsLine(s) with new Line 5-Replace transmission 6-Confirmation transmission 9-Initial transmission</xs:documentation>
		</xs:annotation>
		<xs:restriction base="AType">
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ediCustomerSearchNameType">
		<xs:restriction base="AType">
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="reasonType">
		<xs:restriction base="AType">
			<xs:maxLength value="40"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="employeeInitialsType">
		<xs:annotation>
			<xs:documentation>The initial of the person who created/updated/deleted this EDI file.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="AType">
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="dateTimeType">
		<xs:annotation>
			<xs:documentation>This is the actual date/time/zone value.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="DTType"/>
	</xs:simpleType>
	<xs:simpleType name="operationalPeriodType">
		<xs:annotation>
			<xs:documentation>Period number</xs:documentation>
		</xs:annotation>
		<xs:restriction base="AType">
			<xs:maxLength value="7"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="arrivalDateType">
		<xs:restriction base="DYType"/>
	</xs:simpleType>
	<xs:simpleType name="loadingDateType">
		<xs:restriction base="DYType"/>
	</xs:simpleType>
	<xs:simpleType name="loadingTimeType">
		<xs:restriction base="TSType"/>
	</xs:simpleType>
	<xs:simpleType name="unloadingDateType">
		<xs:restriction base="DYType"/>
	</xs:simpleType>
	<xs:simpleType name="unloadingTimeType">
		<xs:annotation>
			<xs:documentation>This is the actual time of unloading</xs:documentation>
		</xs:annotation>
		<xs:restriction base="TSType"/>
	</xs:simpleType>
	<xs:simpleType name="marksAndNumberType">
		<xs:annotation>
			<xs:documentation>This tag is ignored when marksAndNumber in goodsLine or goodsLine/ marksAndNumbers is used.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="AType">
			<xs:maxLength value="16"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="waybillType">
		<xs:annotation>
			<xs:documentation>External master freight number</xs:documentation>
		</xs:annotation>
		<xs:restriction base="AType">
			<xs:maxLength value="17"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="houseWaybillType">
		<xs:annotation>
			<xs:documentation>External freight number</xs:documentation>
		</xs:annotation>
		<xs:restriction base="AType">
			<xs:maxLength value="17"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="primaryReferenceType">
		<xs:annotation>
			<xs:documentation>This reference is the reference you can search for. For example your order number.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="AType">
			<xs:maxLength value="30"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="serviceLevelType">
		<xs:annotation>
			<xs:documentation>Depending on configuration. See program ts2126</xs:documentation>
		</xs:annotation>
		<xs:restriction base="AType">
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tariffTypeType">
		<xs:annotation>
			<xs:documentation>This can determine a further specication of a tariff. This can be for example dangerous goods, full trailer load, assembly required at unloading address. See program ts2112 for possible values.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="AType">
			<xs:maxLength value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="deliveryTermType">
		<xs:annotation>
			<xs:documentation>Possible values can be found in program ts2109.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="AType">
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="deliveryTermPlaceType">
		<xs:restriction base="AType">
			<xs:maxLength value="15"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="originPlaceCodeType">
		<xs:annotation>
			<xs:documentation>The place of origin coded. Preferable the UN/LOCODE is used. See program ts2124 for possible values.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="AUType">
			<xs:maxLength value="5"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="destinationPlaceCodeType">
		<xs:annotation>
			<xs:documentation>The place of destination coded. Preferable the UN/LOCODE is used. See program ts2124 for possible values.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="AUType">
			<xs:maxLength value="5"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="codeShedHandlingType">
		<xs:annotation>
			<xs:documentation>Informational only. True when the goods are handled in a transport shed (HUB/ DEPOT). False when the goods are picked and delivered in the same trip.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="CAType"/>
	</xs:simpleType>
	<xs:simpleType name="daysOfShedRentType">
		<xs:restriction base="NType">
			<xs:maxInclusive value="999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="shedLocationBerthType">
		<xs:restriction base="AUType">
			<xs:maxLength value="6"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="quantityType">
		<xs:restriction base="S3Type">
			<xs:minInclusive value="-9999999999.999"/>
			<xs:maxInclusive value="9999999999.999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="packageCodeType">
		<xs:annotation>
			<xs:documentation>The package code of the items.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="AType">
			<xs:maxLength value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="commodityCodeType">
		<xs:annotation>
			<xs:documentation>This code is the collection code for goods. Example: ELEC. This can be used for goods like washing machine, wash dryer, dish washer,TV.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="AType">
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="commodityDescriptionType">
		<xs:annotation>
			<xs:documentation>This tag is used when the commodityCode is not known by the sender. Kewill Logistics will try to identify the correct commodityCode via pre-defined codes/ search values. This description is used when this can't be found.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="AType">
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="grossWeightType">
		<xs:annotation>
			<xs:documentation>Weight incl. packaging</xs:documentation>
		</xs:annotation>
		<xs:restriction base="S3Type">
			<xs:minInclusive value="-9999999999.999"/>
			<xs:maxInclusive value="9999999999.999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="netWeightType">
		<xs:annotation>
			<xs:documentation>Weight without packaging.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="S3Type">
			<xs:minInclusive value="-9999999999.999"/>
			<xs:maxInclusive value="9999999999.999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="chargeableWeightType">
		<xs:restriction base="S3Type">
			<xs:minInclusive value="-9999999999.999"/>
			<xs:maxInclusive value="9999999999.999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="volumeCodeType">
		<xs:annotation>
			<xs:documentation>C=Cubical L=Loading meters</xs:documentation>
		</xs:annotation>
		<xs:restriction base="AUType">
			<xs:enumeration value="C"/>
			<xs:enumeration value="L"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="volumeType">
		<xs:annotation>
			<xs:documentation>This is the volume. When the volume code is C this is HxWxL . When the volume code is L this is WxL.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="S3Type">
			<xs:minInclusive value="-9999999999.999"/>
			<xs:maxInclusive value="9999999999.999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="cubicMetersType">
		<xs:restriction base="S3Type">
			<xs:minInclusive value="-9999999999.999"/>
			<xs:maxInclusive value="9999999999.999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="loadingMetersType">
		<xs:restriction base="S3Type">
			<xs:minInclusive value="-9999999999.999"/>
			<xs:maxInclusive value="9999999999.999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="goodsValueCurrencyType">
		<xs:restriction base="AUType">
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="goodsValueType">
		<xs:restriction base="N2Type">
			<xs:maxInclusive value="999999999999.99"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="lengthType">
		<xs:restriction base="N3Type">
			<xs:maxInclusive value="99.999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="widthType">
		<xs:restriction base="N3Type">
			<xs:maxInclusive value="99.999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="heightType">
		<xs:restriction base="N3Type">
			<xs:maxInclusive value="99.999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="deliveryTermAgentType">
		<xs:restriction base="AType">
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="domesticTransportType">
		<xs:annotation>
			<xs:documentation>Y=Yes N=No O=Own</xs:documentation>
		</xs:annotation>
		<xs:restriction base="AUType">
			<xs:enumeration value="Y"/>
			<xs:enumeration value="N"/>
			<xs:enumeration value="O"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="domesticTransportAmountType">
		<xs:restriction base="S2Type">
			<xs:minInclusive value="-9999999.99"/>
			<xs:maxInclusive value="9999999.99"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CollectiveCMRType">
		<xs:restriction base="CAType"/>
	</xs:simpleType>
	<xs:simpleType name="containerPlanningType">
		<xs:restriction base="CAType"/>
	</xs:simpleType>
	<xs:simpleType name="finalDestinationPlaceCodeType">
		<xs:restriction base="AUType">
			<xs:maxLength value="5"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="fclLclType">
		<xs:restriction base="AUType">
			<xs:maxLength value="7"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="originalsType">
		<xs:restriction base="NType">
			<xs:maxInclusive value="99"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="copiesType">
		<xs:restriction base="NType">
			<xs:maxInclusive value="99"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="vesselCurrencyCodeType">
		<xs:restriction base="AUType">
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="vesselRateType">
		<xs:restriction base="N6Type">
			<xs:maxInclusive value="999999.999999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="disbursementPrepaidCollectType">
		<xs:annotation>
			<xs:documentation>P=Prepaid C=Collect</xs:documentation>
		</xs:annotation>
		<xs:restriction base="AUType">
			<xs:enumeration value="P"/>
			<xs:enumeration value="C"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="placeOfReceiptType">
		<xs:restriction base="AType">
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="placeOfDeliveryType">
		<xs:restriction base="AType">
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="airwayBillType">
		<xs:restriction base="NType">
			<xs:maxInclusive value="99999999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="routingType">
		<xs:restriction base="AType">
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="cargoPrepaidCollectType">
		<xs:annotation>
			<xs:documentation>P=Prepaid C=Collect</xs:documentation>
		</xs:annotation>
		<xs:restriction base="AUType">
			<xs:enumeration value="P"/>
			<xs:enumeration value="C"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="cargoCurrencyCodeType">
		<xs:restriction base="AUType">
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="cargoExchangeRateType">
		<xs:restriction base="N6Type">
			<xs:maxInclusive value="999999.999999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="cargoAmountType">
		<xs:restriction base="S2Type">
			<xs:minInclusive value="-9999999.99"/>
			<xs:maxInclusive value="9999999.99"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="costsPrepaidCollectType">
		<xs:annotation>
			<xs:documentation>P=Prepaid C=Collect</xs:documentation>
		</xs:annotation>
		<xs:restriction base="AUType">
			<xs:enumeration value="P"/>
			<xs:enumeration value="C"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="costsCurrencyCodeType">
		<xs:restriction base="AUType">
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="costsExchangeRateType">
		<xs:restriction base="N6Type">
			<xs:maxInclusive value="999999.999999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="costsAmountType">
		<xs:restriction base="S2Type">
			<xs:minInclusive value="-9999999.99"/>
			<xs:maxInclusive value="9999999.99"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="carriageAmountType">
		<xs:restriction base="S2Type">
			<xs:minInclusive value="-9999999.99"/>
			<xs:maxInclusive value="9999999.99"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="customsAmountType">
		<xs:restriction base="S2Type">
			<xs:minInclusive value="-9999999.99"/>
			<xs:maxInclusive value="9999999.99"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="insuranceAmountType">
		<xs:restriction base="S2Type">
			<xs:minInclusive value="-9999999.99"/>
			<xs:maxInclusive value="9999999.99"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="manifestNumberType">
		<xs:restriction base="AType">
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="documentCodeType">
		<xs:annotation>
			<xs:documentation>Here the document code must be used with which the goods are received under customs. Example is T-1</xs:documentation>
		</xs:annotation>
		<xs:restriction base="AUType">
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="documentNumberType">
		<xs:restriction base="AType">
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="documentIssuingOfficeType">
		<xs:annotation>
			<xs:documentation>The place where the document was issued.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="AType">
			<xs:maxLength value="17"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="countryOfOriginType">
		<xs:annotation>
			<xs:documentation>Preferable the ISO 3166 2 letter is used.Depending on configuration. See program as1102 for possible values.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="AUType">
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="countryOfDespatchType">
		<xs:restriction base="AUType">
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="countryOfDestinationType">
		<xs:restriction base="AUType">
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="documentIssuingDateType">
		<xs:restriction base="DYType"/>
	</xs:simpleType>
	<xs:simpleType name="amount1Type">
		<xs:restriction base="S2Type">
			<xs:minInclusive value="-9999999.99"/>
			<xs:maxInclusive value="9999999.99"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="amount2Type">
		<xs:restriction base="S2Type">
			<xs:minInclusive value="-9999999.99"/>
			<xs:maxInclusive value="9999999.99"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="amount3Type">
		<xs:restriction base="S2Type">
			<xs:minInclusive value="-9999999.99"/>
			<xs:maxInclusive value="9999999.99"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="amount4Type">
		<xs:restriction base="S2Type">
			<xs:minInclusive value="-9999999.99"/>
			<xs:maxInclusive value="9999999.99"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="amount5Type">
		<xs:restriction base="S2Type">
			<xs:minInclusive value="-9999999.99"/>
			<xs:maxInclusive value="9999999.99"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="amount6Type">
		<xs:restriction base="S2Type">
			<xs:minInclusive value="-9999999.99"/>
			<xs:maxInclusive value="9999999.99"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="amount7Type">
		<xs:restriction base="S2Type">
			<xs:minInclusive value="-9999999.99"/>
			<xs:maxInclusive value="9999999.99"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="amount8Type">
		<xs:restriction base="S2Type">
			<xs:minInclusive value="-9999999.99"/>
			<xs:maxInclusive value="9999999.99"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="amount9Type">
		<xs:restriction base="S2Type">
			<xs:minInclusive value="-9999999.99"/>
			<xs:maxInclusive value="9999999.99"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="code1Type">
		<xs:restriction base="NType">
			<xs:maxInclusive value="9999999999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="code2Type">
		<xs:restriction base="NType">
			<xs:maxInclusive value="9999999999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="code3Type">
		<xs:restriction base="NType">
			<xs:maxInclusive value="9999999999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="code4Type">
		<xs:restriction base="NType">
			<xs:maxInclusive value="9999999999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="code5Type">
		<xs:restriction base="NType">
			<xs:maxInclusive value="9999999999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="code6Type">
		<xs:restriction base="NType">
			<xs:maxInclusive value="9999999999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="code7Type">
		<xs:restriction base="NType">
			<xs:maxInclusive value="9999999999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="code8Type">
		<xs:restriction base="NType">
			<xs:maxInclusive value="9999999999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="parameterYn01Type">
		<xs:restriction base="CAType"/>
	</xs:simpleType>
	<xs:simpleType name="parameterYn02Type">
		<xs:restriction base="CAType"/>
	</xs:simpleType>
	<xs:simpleType name="parameterYn03Type">
		<xs:restriction base="CAType"/>
	</xs:simpleType>
	<xs:simpleType name="parameterYn04Type">
		<xs:restriction base="CAType"/>
	</xs:simpleType>
	<xs:simpleType name="parameterYn05Type">
		<xs:restriction base="CAType"/>
	</xs:simpleType>
	<xs:simpleType name="parameterYn06Type">
		<xs:restriction base="CAType"/>
	</xs:simpleType>
	<xs:simpleType name="parameterYn07Type">
		<xs:restriction base="CAType"/>
	</xs:simpleType>
	<xs:simpleType name="parameterYn08Type">
		<xs:restriction base="CAType"/>
	</xs:simpleType>
	<xs:simpleType name="parameterYn09Type">
		<xs:restriction base="CAType"/>
	</xs:simpleType>
	<xs:simpleType name="parameterYn10Type">
		<xs:restriction base="CAType"/>
	</xs:simpleType>
	<xs:simpleType name="departmentType">
		<xs:restriction base="AType">
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="statusCodeType">
		<xs:restriction base="NType">
			<xs:maxInclusive value="999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tailorFiller15Type">
		<xs:annotation>
			<xs:documentation>Check with PSG consultants for usage.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="AType">
			<xs:maxLength value="15"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="codSequenceNumber">
		<xs:annotation>
			<xs:documentation>0= COD 98=COP 99=CFT Amount is automatically calculated when 98 or 99 are used.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="NType">
			<xs:enumeration value="0"/>
			<xs:enumeration value="98"/>
			<xs:enumeration value="99"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="currencyCodeType">
		<xs:annotation>
			<xs:documentation>currencycodelist is depending on configuration. See programm as1103.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="AUType">
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_amountS214">
		<xs:annotation>
			<xs:documentation>Amount in given currency!.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="S2Type">
			<xs:minInclusive value="-99999999999.99"/>
			<xs:maxInclusive value="99999999999.99"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="textType">
		<xs:restriction base="AType">
			<xs:maxLength value="70"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="amountTypeType">
		<xs:restriction base="NType">
			<xs:maxInclusive value="9999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_amountS219">
		<xs:restriction base="S2Type"/>
	</xs:simpleType>
	<xs:simpleType name="sequenceNumberType">
		<xs:restriction base="NType">
			<xs:maxInclusive value="99"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="otherChargeCodeType">
		<xs:restriction base="AUType">
			<xs:maxLength value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_descriptionA20">
		<xs:restriction base="AType">
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="amountType">
		<xs:restriction base="S2Type">
			<xs:minInclusive value="-9999999.99"/>
			<xs:maxInclusive value="9999999.99"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="displaySequenceType">
		<xs:restriction base="NType">
			<xs:maxInclusive value="99999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="motModeType">
		<xs:annotation>
			<xs:documentation>10=Sea Transport, 30=Road Transport, 40=Air Transport</xs:documentation>
		</xs:annotation>
		<xs:restriction base="NType">
			<xs:enumeration value="10"/>
			<xs:enumeration value="30"/>
			<xs:enumeration value="40"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="motTypeType">
		<xs:restriction base="NType">
			<xs:maxInclusive value="99"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="motIDType">
		<xs:restriction base="NType">
			<xs:maxInclusive value="9999999999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="motNameType">
		<xs:restriction base="AType">
			<xs:maxLength value="25"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="motIdentityType">
		<xs:restriction base="AType">
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="motOriginType">
		<xs:restriction base="AUType">
			<xs:maxLength value="5"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="motDestinationType">
		<xs:restriction base="AUType">
			<xs:maxLength value="5"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="searchNameType">
		<xs:annotation>
			<xs:documentation>This is the unique searchname in Kewill Logistics. The searchName or relationNumber must exist if Kewill Logistics is configured to re- use data. See programm ts5002 for configuration.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="AUType">
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="relationNumberType">
		<xs:annotation>
			<xs:documentation>See searchName.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="NType">
			<xs:maxInclusive value="999999999999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="searchStringType">
		<xs:annotation>
			<xs:documentation>This can be used for finding an address whithout the relationNumber and searchName. Kewill Logistics will use this value to find an address in a link table. This link (configured in ts5002-&gt;address mapping) must be maintained manual. The customer and this value must be entered and then a existing address must be chosen. The link must be entered manual every time a customer has a new code. Kewill Logistics will first find the linked address and use this as it was in the EDI file. Afterwards the parameters (in ts5002) are handled normally.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="AType">
			<xs:maxLength value="50"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="vatIdNumberType">
		<xs:restriction base="AType">
			<xs:maxLength value="17"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ILNNumberType">
		<xs:annotation>
			<xs:documentation>The ILN number is also known as the EANnumber for customers. However the official term is ILNNumber.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="AType">
			<xs:maxLength value="13"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ETDType">
		<xs:restriction base="DTType"/>
	</xs:simpleType>
	<xs:simpleType name="ATDType">
		<xs:restriction base="DTType"/>
	</xs:simpleType>
	<xs:simpleType name="ETAType">
		<xs:restriction base="DTType"/>
	</xs:simpleType>
	<xs:simpleType name="ATAType">
		<xs:restriction base="DTType"/>
	</xs:simpleType>
	<xs:simpleType name="motNationalityType">
		<xs:restriction base="AUType">
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="equipmentEmissionIDType">
		<xs:restriction base="AType">
			<xs:maxLength value="6"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="emissionTypeType">
		<xs:annotation>
			<xs:documentation>CO2, CO2e, ....</xs:documentation>
		</xs:annotation>
		<xs:restriction base="AType">
			<xs:maxLength value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="estimatedEmissionValueType">
		<xs:restriction base="S2Type">
			<xs:minInclusive value="-9999999.99"/>
			<xs:maxInclusive value="9999999.99"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="actualEmissionValueType">
		<xs:restriction base="S2Type">
			<xs:minInclusive value="-9999999.99"/>
			<xs:maxInclusive value="9999999.99"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="textKeyType">
		<xs:restriction base="AType">
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="dateType">
		<xs:restriction base="DYType"/>
	</xs:simpleType>
	<xs:simpleType name="fromTimeType">
		<xs:restriction base="TSType"/>
	</xs:simpleType>
	<xs:simpleType name="toTimeType">
		<xs:restriction base="TSType"/>
	</xs:simpleType>
	<xs:simpleType name="ST_additionalInformationA35">
		<xs:restriction base="AType">
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="typeOfDateType">
		<xs:annotation>
			<xs:documentation>This typeOfDate is a numerical value and must exist in the master table.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="NType">
			<xs:maxInclusive value="9999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="addressTypeType">
		<xs:annotation>
			<xs:documentation>0 = Customer 1 = loading address 2 = Consignor trader 3 = unloading address 4 = consignee trader 5 = agent 6 = carrier 7 = ship broker 8 = carrier 9 = notify 10 = reserve</xs:documentation>
		</xs:annotation>
		<xs:restriction base="NType">
			<xs:maxInclusive value="99"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="nameLine1Type">
		<xs:restriction base="AType">
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="nameLine2Type">
		<xs:restriction base="AType">
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="nameLine3Type">
		<xs:restriction base="AType">
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="addressLine1Type">
		<xs:restriction base="AType">
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="addressLine2Type">
		<xs:restriction base="AType">
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="addressLine3Type">
		<xs:restriction base="AType">
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="cityNameType">
		<xs:restriction base="AType">
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="cityName2Type">
		<xs:restriction base="AType">
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="destinationCodeType">
		<xs:annotation>
			<xs:documentation>Preferable the UN/LOCODE is used. See program ts2124 for possible values.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="AUType">
			<xs:maxLength value="5"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="postalCodeType">
		<xs:restriction base="AUType">
			<xs:maxLength value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="countryCodeType">
		<xs:restriction base="AUType">
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="languageCodeType">
		<xs:restriction base="NType">
			<xs:maxInclusive value="99"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="e-mailAddressType">
		<xs:restriction base="AType">
			<xs:maxLength value="50"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="internetAddressType">
		<xs:restriction base="AType">
			<xs:maxLength value="50"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="contactPersonType">
		<xs:restriction base="AType">
			<xs:maxLength value="15"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="telephoneNumberType">
		<xs:restriction base="AType">
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="telefaxNumberType">
		<xs:restriction base="AType">
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="manualTimeFramesType">
		<xs:restriction base="CAType"/>
	</xs:simpleType>
	<xs:simpleType name="tillTimeType">
		<xs:restriction base="TSType"/>
	</xs:simpleType>
	<xs:simpleType name="tailorFillerA10Type">
		<xs:annotation>
			<xs:documentation>Check with PSG consultants for usage.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="AType">
			<xs:maxLength value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="referenceCodeType">
		<xs:annotation>
			<xs:documentation>Represents the type of extra reference. For example 2 means: Unloading address reference. Depending on configuration. Configured in program ts2128.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="NType">
			<xs:maxInclusive value="9999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="referenceTextType">
		<xs:restriction base="AType">
			<xs:maxLength value="30"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tailorFiller20Type">
		<xs:annotation>
			<xs:documentation>Check with PSG consultants for usage.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="AType">
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="mainFileNumberType">
		<xs:restriction base="NType">
			<xs:maxInclusive value="999999999999999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="serviceCodeType">
		<xs:restriction base="AType">
			<xs:maxLength value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tariffBaseValueType">
		<xs:annotation>
			<xs:documentation>Base value of the tariff (e.g. gross weight, distance, number of packages)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="S3Type">
			<xs:minInclusive value="-9999999999.999"/>
			<xs:maxInclusive value="9999999999.999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="conditionValueType">
		<xs:restriction base="AType">
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="prefixType">
		<xs:restriction base="AType">
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="numberType">
		<xs:restriction base="NType">
			<xs:maxInclusive value="99999999999999999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="linkTypeType">
		<xs:restriction base="NType">
			<xs:maxInclusive value="9999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="linkTextType">
		<xs:restriction base="AType">
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="linkAddressType">
		<xs:restriction base="AType">
			<xs:maxLength value="100"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="codeType">
		<xs:annotation>
			<xs:documentation>This is the actual code. See ts2116 for possible values.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="AUType">
			<xs:maxLength value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="trackingStatusType">
		<xs:restriction base="NType">
			<xs:maxInclusive value="99"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="remark_1Type">
		<xs:restriction base="AType">
			<xs:maxLength value="65"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="remark_2Type">
		<xs:restriction base="AType">
			<xs:maxLength value="68"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="typeOfFreeTextType">
		<xs:annotation>
			<xs:documentation>The type of description.Example ICA for Issuing Carrier Agent, CUS for customer related text. See program ts2121 for possible values.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="AUType">
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="carriageConditionType">
		<xs:annotation>
			<xs:documentation>A number which represent a predefined instruction.The qualifier or Value must be filled. If both are filled the qualifier is leading. See program ts2113 for possible values.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="NType">
			<xs:maxInclusive value="999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_descriptionA30">
		<xs:restriction base="AType">
			<xs:maxLength value="30"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="characteristicCodeType">
		<xs:annotation>
			<xs:documentation>used to search for a vehicle with these characteristics</xs:documentation>
		</xs:annotation>
		<xs:restriction base="AUType">
			<xs:maxLength value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="containedInMSUType">
		<xs:restriction base="AType">
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="shippingUnitNumberType">
		<xs:restriction base="NType"/>
	</xs:simpleType>
	<xs:simpleType name="externalUnitType">
		<xs:annotation>
			<xs:documentation>the external tracking code of this unit for example the tracking code of an external carrier.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="AType">
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="unitStatusType">
		<xs:restriction base="NType">
			<xs:maxInclusive value="999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="qualityCodeType">
		<xs:restriction base="AType">
			<xs:maxLength value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="checkMethodType">
		<xs:annotation>
			<xs:documentation>Specifies how the reference should be validated 1=None 2=SSCC 3=DPD</xs:documentation>
		</xs:annotation>
		<xs:restriction base="NType">
			<xs:maxInclusive value="99"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="articleCodeType">
		<xs:restriction base="AType">
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="quantityOfShippingUnitsType">
		<xs:restriction base="NType">
			<xs:maxInclusive value="999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="packageCodeOfShippingUnitsType">
		<xs:restriction base="AType">
			<xs:maxLength value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="dangerousGoodsUNNumberType">
		<xs:annotation>
			<xs:documentation>UN codes are preferred. See program ts2118 for configuration details.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="NType">
			<xs:maxInclusive value="9999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="dangerousGoodsUNSuffixType">
		<xs:restriction base="NType">
			<xs:maxInclusive value="999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="taricCodeType">
		<xs:annotation>
			<xs:documentation>self explanatory</xs:documentation>
		</xs:annotation>
		<xs:restriction base="AType">
			<xs:maxLength value="22"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="statisticalQuantityType">
		<xs:annotation>
			<xs:documentation>The number of statistical units if the Sagitta information on the goods type stipulate that Customs actually require the number of units.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="NType">
			<xs:maxInclusive value="999999999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="marksNumberLongType">
		<xs:restriction base="AType">
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="descriptionType">
		<xs:restriction base="AType">
			<xs:maxLength value="30"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="dangerousGoodsPackageCodeType">
		<xs:restriction base="AType">
			<xs:maxLength value="5"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="goodsAmountInUnitType">
		<xs:restriction base="S3Type">
			<xs:minInclusive value="-999999.999"/>
			<xs:maxInclusive value="999999.999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="totalQuantityType">
		<xs:annotation>
			<xs:documentation>Quantity for points calculation</xs:documentation>
		</xs:annotation>
		<xs:restriction base="S3Type">
			<xs:minInclusive value="-9999999999.999"/>
			<xs:maxInclusive value="9999999999.999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="unClassType">
		<xs:annotation>
			<xs:documentation>Primary hazard class</xs:documentation>
		</xs:annotation>
		<xs:restriction base="AType">
			<xs:maxLength value="5"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="dangerousGoodsNameType">
		<xs:restriction base="AType">
			<xs:maxLength value="70"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="technicalDescriptionType">
		<xs:restriction base="AType">
			<xs:maxLength value="200"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="subsidiaryRiskClassIType">
		<xs:restriction base="AType">
			<xs:maxLength value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="subsidiaryRiskClassIIType">
		<xs:restriction base="AType">
			<xs:maxLength value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="subsidiaryRiskClassIIIType">
		<xs:restriction base="AType">
			<xs:maxLength value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ADRClassType">
		<xs:restriction base="AType">
			<xs:maxLength value="12"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ADRCodeType">
		<xs:restriction base="AType">
			<xs:maxLength value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RIDClassType">
		<xs:restriction base="AType">
			<xs:maxLength value="12"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RIDCodeType">
		<xs:restriction base="AType">
			<xs:maxLength value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ADNClassType">
		<xs:restriction base="AType">
			<xs:maxLength value="12"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ADNCodeType">
		<xs:restriction base="AType">
			<xs:maxLength value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ICAClassType">
		<xs:restriction base="AType">
			<xs:maxLength value="12"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ICACodeType">
		<xs:restriction base="AType">
			<xs:maxLength value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="IMDClassType">
		<xs:restriction base="AType">
			<xs:maxLength value="12"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="IMDCodeType">
		<xs:restriction base="AType">
			<xs:maxLength value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="packagingGroupType">
		<xs:restriction base="AType">
			<xs:maxLength value="14"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="goodsUnitType">
		<xs:restriction base="NType">
			<xs:maxInclusive value="99"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="pointsType">
		<xs:annotation>
			<xs:documentation>Calculated ADR 1.1.3.6.3. rule</xs:documentation>
		</xs:annotation>
		<xs:restriction base="S3Type">
			<xs:minInclusive value="-999999.999"/>
			<xs:maxInclusive value="999999.999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="emergencyTemperatureType">
		<xs:restriction base="AType">
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="controlTemperatureType">
		<xs:restriction base="AType">
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="flashPointType">
		<xs:restriction base="AType">
			<xs:maxLength value="12"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="emergencyScheduleNumberType">
		<xs:restriction base="AType">
			<xs:maxLength value="7"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tunnelCodeType">
		<xs:restriction base="AType">
			<xs:maxLength value="6"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="provisionsType">
		<xs:restriction base="AType">
			<xs:maxLength value="70"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="allowedOnRailIndicatorType">
		<xs:restriction base="CAType"/>
	</xs:simpleType>
	<xs:simpleType name="limitedQuantityIndicatorType">
		<xs:restriction base="CAType"/>
	</xs:simpleType>
	<xs:simpleType name="expectedQuantityIndicatorType">
		<xs:restriction base="CAType"/>
	</xs:simpleType>
	<xs:simpleType name="harmfulIndicatorType">
		<xs:restriction base="CAType"/>
	</xs:simpleType>
	<xs:simpleType name="wasteIndicatorType">
		<xs:restriction base="CAType"/>
	</xs:simpleType>
	<xs:simpleType name="emptyIndicatorType">
		<xs:restriction base="CAType"/>
	</xs:simpleType>
	<xs:simpleType name="marinePollutantIndicatorType">
		<xs:restriction base="CAType"/>
	</xs:simpleType>
	<xs:simpleType name="marinePollutantNameIndicatorType">
		<xs:restriction base="CAType"/>
	</xs:simpleType>
	<xs:simpleType name="maritimeFirstAidGuideType">
		<xs:restriction base="AType">
			<xs:maxLength value="12"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="innerPackageCodeType">
		<xs:restriction base="AType">
			<xs:maxLength value="5"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="additionalInformationType">
		<xs:restriction base="AType">
			<xs:maxLength value="200"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="isoLanguageCodeType">
		<xs:annotation>
			<xs:documentation>Language codes based on ISO list 639-1</xs:documentation>
		</xs:annotation>
		<xs:restriction base="AType">
			<xs:maxLength value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="technicalNameType">
		<xs:restriction base="AType">
			<xs:maxLength value="200"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="IDType">
		<xs:restriction base="AUType">
			<xs:maxLength value="11"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="typeType">
		<xs:annotation>
			<xs:documentation>depending on configuration, see ts2117</xs:documentation>
		</xs:annotation>
		<xs:restriction base="AUType">
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="sealNumberLong">
		<xs:annotation>
			<xs:documentation>Seal number on the container</xs:documentation>
		</xs:annotation>
		<xs:restriction base="AType">
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ventilationType">
		<xs:annotation>
			<xs:documentation>Indicate if the container is provided or should be provided with ventilation for the relevant goods type. This is for information purposes only.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="AType">
			<xs:maxLength value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="airHumidityType">
		<xs:annotation>
			<xs:documentation>The minimum humidity for transport. For informational purpose only.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="N2Type">
			<xs:maxInclusive value="9999.99"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="temperatureCelsiusType">
		<xs:annotation>
			<xs:documentation>Inicates the minimum temperature this container can be reached by the cooling of the container.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="S2Type">
			<xs:minInclusive value="-999.99"/>
			<xs:maxInclusive value="999.99"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="temperatureFahrenheitType">
		<xs:restriction base="S2Type">
			<xs:minInclusive value="-999.99"/>
			<xs:maxInclusive value="999.99"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tailorCodeType">
		<xs:restriction base="AType">
			<xs:maxLength value="6"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_valueA100">
		<xs:restriction base="AType">
			<xs:maxLength value="100"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
