sample_files/shipment_out/shipment-out-elements-65101.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.kewill.com/logistics/klic/shipment-out" elementFormDefault="qualified" targetNamespace="http://www.kewill.com/logistics/klic/shipment-out">
  <xs:annotation>
    <xs:documentation>Base type and element specifications</xs:documentation>
  </xs:annotation>
  <xs:simpleType name="NType">
    <xs:annotation>
      <xs:documentation>Non-negative integer value (no fractional digits).</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:nonNegativeInteger"/>
  </xs:simpleType>
  <xs:simpleType name="AType">
    <xs:annotation>
      <xs:documentation>Character string value without control characters.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="(\P{Cc})*"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="DTType">
    <xs:annotation>
      <xs:documentation>Date value specified in the following form "YYYY-MM-DDThh:mm:ss".</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:dateTime"/>
  </xs:simpleType>
  <xs:simpleType name="stringType">
    <xs:annotation>
      <xs:documentation>Character string value</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:simpleType name="DYType">
    <xs:annotation>
      <xs:documentation>Date value specified in the following form "YYYY-MM-DD".</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:date"/>
  </xs:simpleType>
  <xs:simpleType name="TSType">
    <xs:annotation>
      <xs:documentation>Time value specified in the following form "hh:mm:ss".</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:time"/>
  </xs:simpleType>
  <xs:simpleType name="AUType">
    <xs:annotation>
      <xs:documentation>Character string value (uppercase) without control characters.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="AType">
      <xs:pattern value="([^a-z])*"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="booleanType">
    <xs:annotation>
      <xs:documentation>Boolean type to specify a true or false value.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:boolean"/>
  </xs:simpleType>
  <xs:simpleType name="booleanKlType">
    <xs:annotation>
      <xs:documentation>Kewill specific boolean type using ^ as true and ` as false.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[\^`]"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="CAType">
    <xs:annotation>
      <xs:documentation>Boolean type to specify a true or false value</xs:documentation>
    </xs:annotation>
    <xs:union memberTypes="booleanType booleanKlType"/>
  </xs:simpleType>
  <xs:simpleType name="S3Type">
    <xs:annotation>
      <xs:documentation>Decimal value (maximum number of fractional digits 3).</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:decimal">
      <xs:fractionDigits value="3"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="N2Type">
    <xs:annotation>
      <xs:documentation>Non-negative decimal value (maximum number of fractional digits 2).</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:decimal">
      <xs:fractionDigits value="2"/>
      <xs:minInclusive value="0"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="N3Type">
    <xs:annotation>
      <xs:documentation>Non-negative decimal value (maximum number of fractional digits 3).</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:decimal">
      <xs:fractionDigits value="3"/>
      <xs:minInclusive value="0"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="S2Type">
    <xs:annotation>
      <xs:documentation>Decimal value (maximum number of fractional digits 2).</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:decimal">
      <xs:fractionDigits value="2"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="N6Type">
    <xs:annotation>
      <xs:documentation>Non-negative decimal value (maximum number of fractional digits 6).</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:decimal">
      <xs:fractionDigits value="6"/>
      <xs:minInclusive value="0"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ediCustomerNumberType">
    <xs:annotation>
      <xs:documentation>The edi settings are located,combined with the other ediParm values, with this number.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="NType">
      <xs:maxInclusive value="999999999999"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ediCustomerDepartmentType">
    <xs:restriction base="AType">
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ediParm1Type">
    <xs:annotation>
      <xs:documentation>This controls, in combination with ediParm2 and ediParm3, the processing of a file. With these settings Kewill Logistics can determine departments/defaults etc.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="NType">
      <xs:maxInclusive value="9"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ediParm2Type">
    <xs:restriction base="AType">
      <xs:maxLength value="1"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ediParm3Type">
    <xs:restriction base="AType">
      <xs:maxLength value="1"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="transmitterType">
    <xs:restriction base="AType">
      <xs:maxLength value="35"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="receiverType">
    <xs:restriction base="AType">
      <xs:maxLength value="35"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ediReferenceType">
    <xs:annotation>
      <xs:documentation>This is used to identify edi files.It is used when updates/ delete/ add is send of a previous transmission.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="AType">
      <xs:maxLength value="35"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="referenceIndicationType">
    <xs:annotation>
      <xs:documentation>Indication of the reference which is refered to when using the ediReference field. not set or set with 0  the ediReference is an external EDI reference set with 1  the ediReference points is the con note number set with 9  the ediReference points to a message reference</xs:documentation>
    </xs:annotation>
    <xs:restriction base="NType">
      <xs:enumeration value="0"/>
      <xs:enumeration value="1"/>
      <xs:enumeration value="9"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="internalShipmentNumberType">
    <xs:annotation>
      <xs:documentation>This will update the correct file directly without using the ediReference.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="NType">
      <xs:maxInclusive value="999999999999999"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ediFunction1Type">
    <xs:annotation>
      <xs:documentation>1-Remove transmission 2-Items to be added 4-Replace goodsLine(s) with new Line 5-Replace transmission 6-Confirmation transmission 9-Initial transmission</xs:documentation>
    </xs:annotation>
    <xs:restriction base="AType">
      <xs:maxLength value="3"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ediCustomerSearchNameType">
    <xs:restriction base="AType">
      <xs:maxLength value="20"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="reasonType">
    <xs:restriction base="AType">
      <xs:maxLength value="40"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="employeeInitialsType">
    <xs:annotation>
      <xs:documentation>The initial of the person who created/updated/deleted this EDI file.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="AType">
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="dateTimeType">
    <xs:annotation>
      <xs:documentation>This is the actual date/time/zone value.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="DTType"/>
  </xs:simpleType>
  <xs:simpleType name="operationalPeriodType">
    <xs:annotation>
      <xs:documentation>Period number</xs:documentation>
    </xs:annotation>
    <xs:restriction base="AType">
      <xs:maxLength value="7"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="arrivalDateType">
    <xs:restriction base="DYType"/>
  </xs:simpleType>
  <xs:simpleType name="loadingDateType">
    <xs:restriction base="DYType"/>
  </xs:simpleType>
  <xs:simpleType name="loadingTimeType">
    <xs:restriction base="TSType"/>
  </xs:simpleType>
  <xs:simpleType name="unloadingDateType">
    <xs:restriction base="DYType"/>
  </xs:simpleType>
  <xs:simpleType name="unloadingTimeType">
    <xs:annotation>
      <xs:documentation>This is the actual time of unloading</xs:documentation>
    </xs:annotation>
    <xs:restriction base="TSType"/>
  </xs:simpleType>
  <xs:simpleType name="marksAndNumberType">
    <xs:annotation>
      <xs:documentation>This tag is ignored when marksAndNumber in goodsLine or goodsLine/ marksAndNumbers is used.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="AType">
      <xs:maxLength value="16"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="waybillType">
    <xs:annotation>
      <xs:documentation>External master freight number</xs:documentation>
    </xs:annotation>
    <xs:restriction base="AType">
      <xs:maxLength value="17"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="houseWaybillType">
    <xs:annotation>
      <xs:documentation>External freight number</xs:documentation>
    </xs:annotation>
    <xs:restriction base="AType">
      <xs:maxLength value="17"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="primaryReferenceType">
    <xs:annotation>
      <xs:documentation>This reference is the reference you can search for. For example your order number.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="AType">
      <xs:maxLength value="30"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="serviceLevelType">
    <xs:annotation>
      <xs:documentation>Depending on configuration. See program ts2126</xs:documentation>
    </xs:annotation>
    <xs:restriction base="AType">
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tariffTypeType">
    <xs:annotation>
      <xs:documentation>This can determine a further specication of a tariff. This can be for example dangerous goods, full trailer load, assembly required at unloading address. See program ts2112 for possible values.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="AType">
      <xs:maxLength value="2"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="deliveryTermType">
    <xs:annotation>
      <xs:documentation>Possible values can be found in program ts2109.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="AType">
      <xs:maxLength value="3"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="deliveryTermPlaceType">
    <xs:restriction base="AType">
      <xs:maxLength value="15"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="originPlaceCodeType">
    <xs:annotation>
      <xs:documentation>The place of origin coded. Preferable the UN/LOCODE is used. See program ts2124 for possible values.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="AUType">
      <xs:maxLength value="5"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="destinationPlaceCodeType">
    <xs:annotation>
      <xs:documentation>The place of destination coded. Preferable the UN/LOCODE is used. See program ts2124 for possible values.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="AUType">
      <xs:maxLength value="5"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="codeShedHandlingType">
    <xs:annotation>
      <xs:documentation>Informational only. True when the goods are handled in a transport shed (HUB/ DEPOT). False when the goods are picked and delivered in the same trip.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="CAType"/>
  </xs:simpleType>
  <xs:simpleType name="daysOfShedRentType">
    <xs:restriction base="NType">
      <xs:maxInclusive value="999"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="shedLocationBerthType">
    <xs:restriction base="AUType">
      <xs:maxLength value="6"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="quantityType">
    <xs:restriction base="S3Type">
      <xs:minInclusive value="-9999999999.999"/>
      <xs:maxInclusive value="9999999999.999"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="packageCodeType">
    <xs:annotation>
      <xs:documentation>The package code of the items.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="AType">
      <xs:maxLength value="2"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="commodityCodeType">
    <xs:annotation>
      <xs:documentation>This code is the collection code for goods. Example: ELEC. This can be used for goods like washing machine, wash dryer, dish washer,TV.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="AType">
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="commodityDescriptionType">
    <xs:annotation>
      <xs:documentation>This tag is used when the commodityCode is not known by the sender. Kewill Logistics will try to identify the correct commodityCode via pre-defined codes/ search values. This description is used when this can't be found.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="AType">
      <xs:maxLength value="20"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="grossWeightType">
    <xs:annotation>
      <xs:documentation>Weight incl. packaging</xs:documentation>
    </xs:annotation>
    <xs:restriction base="S3Type">
      <xs:minInclusive value="-9999999999.999"/>
      <xs:maxInclusive value="9999999999.999"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="netWeightType">
    <xs:annotation>
      <xs:documentation>Weight without packaging.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="S3Type">
      <xs:minInclusive value="-9999999999.999"/>
      <xs:maxInclusive value="9999999999.999"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="chargeableWeightType">
    <xs:restriction base="S3Type">
      <xs:minInclusive value="-9999999999.999"/>
      <xs:maxInclusive value="9999999999.999"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="volumeCodeType">
    <xs:annotation>
      <xs:documentation>C=Cubical L=Loading meters</xs:documentation>
    </xs:annotation>
    <xs:restriction base="AUType">
      <xs:enumeration value="C"/>
      <xs:enumeration value="L"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="volumeType">
    <xs:annotation>
      <xs:documentation>This is the volume. When the volume code is C this is HxWxL . When the volume code is L this is WxL.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="S3Type">
      <xs:minInclusive value="-9999999999.999"/>
      <xs:maxInclusive value="9999999999.999"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="cubicMetersType">
    <xs:restriction base="S3Type">
      <xs:minInclusive value="-9999999999.999"/>
      <xs:maxInclusive value="9999999999.999"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="loadingMetersType">
    <xs:restriction base="S3Type">
      <xs:minInclusive value="-9999999999.999"/>
      <xs:maxInclusive value="9999999999.999"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="goodsValueCurrencyType">
    <xs:restriction base="AUType">
      <xs:maxLength value="3"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="goodsValueType">
    <xs:restriction base="N2Type">
      <xs:maxInclusive value="999999999999.99"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="lengthType">
    <xs:restriction base="N3Type">
      <xs:maxInclusive value="99.999"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="widthType">
    <xs:restriction base="N3Type">
      <xs:maxInclusive value="99.999"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="heightType">
    <xs:restriction base="N3Type">
      <xs:maxInclusive value="99.999"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="deliveryTermAgentType">
    <xs:restriction base="AType">
      <xs:maxLength value="3"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="domesticTransportType">
    <xs:annotation>
      <xs:documentation>Y=Yes N=No O=Own</xs:documentation>
    </xs:annotation>
    <xs:restriction base="AUType">
      <xs:enumeration value="Y"/>
      <xs:enumeration value="N"/>
      <xs:enumeration value="O"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="domesticTransportAmountType">
    <xs:restriction base="S2Type">
      <xs:minInclusive value="-9999999.99"/>
      <xs:maxInclusive value="9999999.99"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="CollectiveCMRType">
    <xs:restriction base="CAType"/>
  </xs:simpleType>
  <xs:simpleType name="containerPlanningType">
    <xs:restriction base="CAType"/>
  </xs:simpleType>
  <xs:simpleType name="finalDestinationPlaceCodeType">
    <xs:restriction base="AUType">
      <xs:maxLength value="5"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="fclLclType">
    <xs:restriction base="AUType">
      <xs:maxLength value="7"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="originalsType">
    <xs:restriction base="NType">
      <xs:maxInclusive value="99"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="copiesType">
    <xs:restriction base="NType">
      <xs:maxInclusive value="99"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="vesselCurrencyCodeType">
    <xs:restriction base="AUType">
      <xs:maxLength value="3"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="vesselRateType">
    <xs:restriction base="N6Type">
      <xs:maxInclusive value="999999.999999"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="disbursementPrepaidCollectType">
    <xs:annotation>
      <xs:documentation>P=Prepaid C=Collect</xs:documentation>
    </xs:annotation>
    <xs:restriction base="AUType">
      <xs:enumeration value="P"/>
      <xs:enumeration value="C"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="placeOfReceiptType">
    <xs:restriction base="AType">
      <xs:maxLength value="20"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="placeOfDeliveryType">
    <xs:restriction base="AType">
      <xs:maxLength value="20"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="airwayBillType">
    <xs:restriction base="NType">
      <xs:maxInclusive value="99999999"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="routingType">
    <xs:restriction base="AType">
      <xs:maxLength value="20"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="cargoPrepaidCollectType">
    <xs:annotation>
      <xs:documentation>P=Prepaid C=Collect</xs:documentation>
    </xs:annotation>
    <xs:restriction base="AUType">
      <xs:enumeration value="P"/>
      <xs:enumeration value="C"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="cargoCurrencyCodeType">
    <xs:restriction base="AUType">
      <xs:maxLength value="3"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="cargoExchangeRateType">
    <xs:restriction base="N6Type">
      <xs:maxInclusive value="999999.999999"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="cargoAmountType">
    <xs:restriction base="S2Type">
      <xs:minInclusive value="-9999999.99"/>
      <xs:maxInclusive value="9999999.99"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="costsPrepaidCollectType">
    <xs:annotation>
      <xs:documentation>P=Prepaid C=Collect</xs:documentation>
    </xs:annotation>
    <xs:restriction base="AUType">
      <xs:enumeration value="P"/>
      <xs:enumeration value="C"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="costsCurrencyCodeType">
    <xs:restriction base="AUType">
      <xs:maxLength value="3"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="costsExchangeRateType">
    <xs:restriction base="N6Type">
      <xs:maxInclusive value="999999.999999"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="costsAmountType">
    <xs:restriction base="S2Type">
      <xs:minInclusive value="-9999999.99"/>
      <xs:maxInclusive value="9999999.99"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="carriageAmountType">
    <xs:restriction base="S2Type">
      <xs:minInclusive value="-9999999.99"/>
      <xs:maxInclusive value="9999999.99"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="customsAmountType">
    <xs:restriction base="S2Type">
      <xs:minInclusive value="-9999999.99"/>
      <xs:maxInclusive value="9999999.99"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="insuranceAmountType">
    <xs:restriction base="S2Type">
      <xs:minInclusive value="-9999999.99"/>
      <xs:maxInclusive value="9999999.99"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="manifestNumberType">
    <xs:restriction base="AType">
      <xs:maxLength value="20"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="documentCodeType">
    <xs:annotation>
      <xs:documentation>Here the document code must be used with which the goods are received under customs. Example is T-1</xs:documentation>
    </xs:annotation>
    <xs:restriction base="AUType">
      <xs:maxLength value="3"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="documentNumberType">
    <xs:restriction base="AType">
      <xs:maxLength value="20"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="documentIssuingOfficeType">
    <xs:annotation>
      <xs:documentation>The place where the document was issued.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="AType">
      <xs:maxLength value="17"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="countryOfOriginType">
    <xs:annotation>
      <xs:documentation>Preferable the ISO 3166 2 letter is used.Depending on configuration. See program as1102 for possible values.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="AUType">
      <xs:maxLength value="3"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="countryOfDespatchType">
    <xs:restriction base="AUType">
      <xs:maxLength value="3"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="countryOfDestinationType">
    <xs:restriction base="AUType">
      <xs:maxLength value="3"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="documentIssuingDateType">
    <xs:restriction base="DYType"/>
  </xs:simpleType>
  <xs:simpleType name="amount1Type">
    <xs:restriction base="S2Type">
      <xs:minInclusive value="-9999999.99"/>
      <xs:maxInclusive value="9999999.99"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="amount2Type">
    <xs:restriction base="S2Type">
      <xs:minInclusive value="-9999999.99"/>
      <xs:maxInclusive value="9999999.99"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="amount3Type">
    <xs:restriction base="S2Type">
      <xs:minInclusive value="-9999999.99"/>
      <xs:maxInclusive value="9999999.99"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="amount4Type">
    <xs:restriction base="S2Type">
      <xs:minInclusive value="-9999999.99"/>
      <xs:maxInclusive value="9999999.99"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="amount5Type">
    <xs:restriction base="S2Type">
      <xs:minInclusive value="-9999999.99"/>
      <xs:maxInclusive value="9999999.99"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="amount6Type">
    <xs:restriction base="S2Type">
      <xs:minInclusive value="-9999999.99"/>
      <xs:maxInclusive value="9999999.99"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="amount7Type">
    <xs:restriction base="S2Type">
      <xs:minInclusive value="-9999999.99"/>
      <xs:maxInclusive value="9999999.99"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="amount8Type">
    <xs:restriction base="S2Type">
      <xs:minInclusive value="-9999999.99"/>
      <xs:maxInclusive value="9999999.99"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="amount9Type">
    <xs:restriction base="S2Type">
      <xs:minInclusive value="-9999999.99"/>
      <xs:maxInclusive value="9999999.99"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="code1Type">
    <xs:restriction base="NType">
      <xs:maxInclusive value="9999999999"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="code2Type">
    <xs:restriction base="NType">
      <xs:maxInclusive value="9999999999"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="code3Type">
    <xs:restriction base="NType">
      <xs:maxInclusive value="9999999999"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="code4Type">
    <xs:restriction base="NType">
      <xs:maxInclusive value="9999999999"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="code5Type">
    <xs:restriction base="NType">
      <xs:maxInclusive value="9999999999"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="code6Type">
    <xs:restriction base="NType">
      <xs:maxInclusive value="9999999999"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="code7Type">
    <xs:restriction base="NType">
      <xs:maxInclusive value="9999999999"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="code8Type">
    <xs:restriction base="NType">
      <xs:maxInclusive value="9999999999"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="parameterYn01Type">
    <xs:restriction base="CAType"/>
  </xs:simpleType>
  <xs:simpleType name="parameterYn02Type">
    <xs:restriction base="CAType"/>
  </xs:simpleType>
  <xs:simpleType name="parameterYn03Type">
    <xs:restriction base="CAType"/>
  </xs:simpleType>
  <xs:simpleType name="parameterYn04Type">
    <xs:restriction base="CAType"/>
  </xs:simpleType>
  <xs:simpleType name="parameterYn05Type">
    <xs:restriction base="CAType"/>
  </xs:simpleType>
  <xs:simpleType name="parameterYn06Type">
    <xs:restriction base="CAType"/>
  </xs:simpleType>
  <xs:simpleType name="parameterYn07Type">
    <xs:restriction base="CAType"/>
  </xs:simpleType>
  <xs:simpleType name="parameterYn08Type">
    <xs:restriction base="CAType"/>
  </xs:simpleType>
  <xs:simpleType name="parameterYn09Type">
    <xs:restriction base="CAType"/>
  </xs:simpleType>
  <xs:simpleType name="parameterYn10Type">
    <xs:restriction base="CAType"/>
  </xs:simpleType>
  <xs:simpleType name="departmentType">
    <xs:restriction base="AType">
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="statusCodeType">
    <xs:restriction base="NType">
      <xs:maxInclusive value="999"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tailorFiller15Type">
    <xs:annotation>
      <xs:documentation>Check with PSG consultants for usage.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="AType">
      <xs:maxLength value="15"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="codSequenceNumber">
    <xs:annotation>
      <xs:documentation>0= COD 98=COP 99=CFT Amount is automatically calculated when 98 or 99 are used.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="NType">
      <xs:enumeration value="0"/>
      <xs:enumeration value="98"/>
      <xs:enumeration value="99"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="currencyCodeType">
    <xs:annotation>
      <xs:documentation>currencycodelist is depending on configuration. See programm as1103.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="AUType">
      <xs:maxLength value="3"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ST_amountS214">
    <xs:annotation>
      <xs:documentation>Amount in given currency!.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="S2Type">
      <xs:minInclusive value="-99999999999.99"/>
      <xs:maxInclusive value="99999999999.99"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="textType">
    <xs:restriction base="AType">
      <xs:maxLength value="70"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="amountTypeType">
    <xs:restriction base="NType">
      <xs:maxInclusive value="9999"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ST_amountS219">
    <xs:restriction base="S2Type"/>
  </xs:simpleType>
  <xs:simpleType name="sequenceNumberType">
    <xs:restriction base="NType">
      <xs:maxInclusive value="99"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="otherChargeCodeType">
    <xs:restriction base="AUType">
      <xs:maxLength value="2"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ST_descriptionA20">
    <xs:restriction base="AType">
      <xs:maxLength value="20"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="amountType">
    <xs:restriction base="S2Type">
      <xs:minInclusive value="-9999999.99"/>
      <xs:maxInclusive value="9999999.99"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="displaySequenceType">
    <xs:restriction base="NType">
      <xs:maxInclusive value="99999"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="motModeType">
    <xs:annotation>
      <xs:documentation>10=Sea Transport, 30=Road Transport, 40=Air Transport</xs:documentation>
    </xs:annotation>
    <xs:restriction base="NType">
      <xs:enumeration value="10"/>
      <xs:enumeration value="30"/>
      <xs:enumeration value="40"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="motTypeType">
    <xs:restriction base="NType">
      <xs:maxInclusive value="99"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="motIDType">
    <xs:restriction base="NType">
      <xs:maxInclusive value="9999999999"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="motNameType">
    <xs:restriction base="AType">
      <xs:maxLength value="25"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="motIdentityType">
    <xs:restriction base="AType">
      <xs:maxLength value="35"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="motOriginType">
    <xs:restriction base="AUType">
      <xs:maxLength value="5"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="motDestinationType">
    <xs:restriction base="AUType">
      <xs:maxLength value="5"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="searchNameType">
    <xs:annotation>
      <xs:documentation>This is the unique searchname in Kewill Logistics. The searchName or relationNumber must exist if Kewill Logistics is configured to re- use data. See programm ts5002 for configuration.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="AUType">
      <xs:maxLength value="20"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="relationNumberType">
    <xs:annotation>
      <xs:documentation>See searchName.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="NType">
      <xs:maxInclusive value="999999999999"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="searchStringType">
    <xs:annotation>
      <xs:documentation>This can be used for finding an address whithout the relationNumber and searchName. Kewill Logistics will use this value to find an address in a link table. This link (configured in ts5002-&gt;address mapping) must be maintained manual. The customer and this value must be entered and then a existing address must be chosen. The link must be entered manual every time a customer has a new code. Kewill Logistics will first find the linked address and use this as it was in the EDI file. Afterwards the parameters (in ts5002) are handled normally.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="AType">
      <xs:maxLength value="50"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="vatIdNumberType">
    <xs:restriction base="AType">
      <xs:maxLength value="17"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ILNNumberType">
    <xs:annotation>
      <xs:documentation>The ILN number is also known as the EANnumber for customers. However the official term is ILNNumber.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="AType">
      <xs:maxLength value="13"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ETDType">
    <xs:restriction base="DTType"/>
  </xs:simpleType>
  <xs:simpleType name="ATDType">
    <xs:restriction base="DTType"/>
  </xs:simpleType>
  <xs:simpleType name="ETAType">
    <xs:restriction base="DTType"/>
  </xs:simpleType>
  <xs:simpleType name="ATAType">
    <xs:restriction base="DTType"/>
  </xs:simpleType>
  <xs:simpleType name="motNationalityType">
    <xs:restriction base="AUType">
      <xs:maxLength value="3"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="equipmentEmissionIDType">
    <xs:restriction base="AType">
      <xs:maxLength value="6"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="emissionTypeType">
    <xs:annotation>
      <xs:documentation>CO2, CO2e, ....</xs:documentation>
    </xs:annotation>
    <xs:restriction base="AType">
      <xs:maxLength value="10"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="estimatedEmissionValueType">
    <xs:restriction base="S2Type">
      <xs:minInclusive value="-9999999.99"/>
      <xs:maxInclusive value="9999999.99"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="actualEmissionValueType">
    <xs:restriction base="S2Type">
      <xs:minInclusive value="-9999999.99"/>
      <xs:maxInclusive value="9999999.99"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="textKeyType">
    <xs:restriction base="AType">
      <xs:maxLength value="3"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="dateType">
    <xs:restriction base="DYType"/>
  </xs:simpleType>
  <xs:simpleType name="fromTimeType">
    <xs:restriction base="TSType"/>
  </xs:simpleType>
  <xs:simpleType name="toTimeType">
    <xs:restriction base="TSType"/>
  </xs:simpleType>
  <xs:simpleType name="ST_additionalInformationA35">
    <xs:restriction base="AType">
      <xs:maxLength value="35"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="typeOfDateType">
    <xs:annotation>
      <xs:documentation>This typeOfDate is a numerical value and must exist in the master table.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="NType">
      <xs:maxInclusive value="9999"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="addressTypeType">
    <xs:annotation>
      <xs:documentation>0 = Customer 1 = loading address 2 = Consignor trader 3 = unloading address 4 = consignee trader 5 = agent 6 = carrier 7 = ship broker 8 = carrier 9 = notify 10 = reserve</xs:documentation>
    </xs:annotation>
    <xs:restriction base="NType">
      <xs:maxInclusive value="99"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="nameLine1Type">
    <xs:restriction base="AType">
      <xs:maxLength value="35"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="nameLine2Type">
    <xs:restriction base="AType">
      <xs:maxLength value="35"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="nameLine3Type">
    <xs:restriction base="AType">
      <xs:maxLength value="35"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="addressLine1Type">
    <xs:restriction base="AType">
      <xs:maxLength value="35"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="addressLine2Type">
    <xs:restriction base="AType">
      <xs:maxLength value="35"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="addressLine3Type">
    <xs:restriction base="AType">
      <xs:maxLength value="35"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="cityNameType">
    <xs:restriction base="AType">
      <xs:maxLength value="35"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="cityName2Type">
    <xs:restriction base="AType">
      <xs:maxLength value="35"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="destinationCodeType">
    <xs:annotation>
      <xs:documentation>Preferable the UN/LOCODE is used. See program ts2124 for possible values.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="AUType">
      <xs:maxLength value="5"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="postalCodeType">
    <xs:restriction base="AUType">
      <xs:maxLength value="9"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="countryCodeType">
    <xs:restriction base="AUType">
      <xs:maxLength value="3"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="languageCodeType">
    <xs:restriction base="NType">
      <xs:maxInclusive value="99"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="e-mailAddressType">
    <xs:restriction base="AType">
      <xs:maxLength value="50"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="internetAddressType">
    <xs:restriction base="AType">
      <xs:maxLength value="50"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="contactPersonType">
    <xs:restriction base="AType">
      <xs:maxLength value="15"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="telephoneNumberType">
    <xs:restriction base="AType">
      <xs:maxLength value="20"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="telefaxNumberType">
    <xs:restriction base="AType">
      <xs:maxLength value="20"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="manualTimeFramesType">
    <xs:restriction base="CAType"/>
  </xs:simpleType>
  <xs:simpleType name="tillTimeType">
    <xs:restriction base="TSType"/>
  </xs:simpleType>
  <xs:simpleType name="tailorFillerA10Type">
    <xs:annotation>
      <xs:documentation>Check with PSG consultants for usage.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="AType">
      <xs:maxLength value="10"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="referenceCodeType">
    <xs:annotation>
      <xs:documentation>Represents the type of extra reference. For example 2 means: Unloading address reference. Depending on configuration. Configured in program ts2128.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="NType">
      <xs:maxInclusive value="9999"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="referenceTextType">
    <xs:restriction base="AType">
      <xs:maxLength value="30"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tailorFiller20Type">
    <xs:annotation>
      <xs:documentation>Check with PSG consultants for usage.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="AType">
      <xs:maxLength value="20"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="mainFileNumberType">
    <xs:restriction base="NType">
      <xs:maxInclusive value="999999999999999"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="serviceCodeType">
    <xs:restriction base="AType">
      <xs:maxLength value="10"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tariffBaseValueType">
    <xs:annotation>
      <xs:documentation>Base value of the tariff (e.g. gross weight, distance, number of packages)</xs:documentation>
    </xs:annotation>
    <xs:restriction base="S3Type">
      <xs:minInclusive value="-9999999999.999"/>
      <xs:maxInclusive value="9999999999.999"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="conditionValueType">
    <xs:restriction base="AType">
      <xs:maxLength value="35"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="prefixType">
    <xs:restriction base="AType">
      <xs:maxLength value="3"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="numberType">
    <xs:restriction base="NType">
      <xs:maxInclusive value="99999999999999999"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="linkTypeType">
    <xs:restriction base="NType">
      <xs:maxInclusive value="9999"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="linkTextType">
    <xs:restriction base="AType">
      <xs:maxLength value="35"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="linkAddressType">
    <xs:restriction base="AType">
      <xs:maxLength value="100"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="codeType">
    <xs:annotation>
      <xs:documentation>This is the actual code. See ts2116 for possible values.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="AUType">
      <xs:maxLength value="10"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="trackingStatusType">
    <xs:restriction base="NType">
      <xs:maxInclusive value="99"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="remark_1Type">
    <xs:restriction base="AType">
      <xs:maxLength value="65"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="remark_2Type">
    <xs:restriction base="AType">
      <xs:maxLength value="68"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="typeOfFreeTextType">
    <xs:annotation>
      <xs:documentation>The type of description.Example ICA for Issuing Carrier Agent, CUS for customer related text. See program ts2121 for possible values.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="AUType">
      <xs:maxLength value="3"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="carriageConditionType">
    <xs:annotation>
      <xs:documentation>A number which represent a predefined instruction.The qualifier or Value must be filled. If both are filled the qualifier is leading. See program ts2113 for possible values.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="NType">
      <xs:maxInclusive value="999"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ST_descriptionA30">
    <xs:restriction base="AType">
      <xs:maxLength value="30"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="characteristicCodeType">
    <xs:annotation>
      <xs:documentation>used to search for a vehicle with these characteristics</xs:documentation>
    </xs:annotation>
    <xs:restriction base="AUType">
      <xs:maxLength value="10"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="containedInMSUType">
    <xs:restriction base="AType">
      <xs:maxLength value="35"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="shippingUnitNumberType">
    <xs:restriction base="NType"/>
  </xs:simpleType>
  <xs:simpleType name="externalUnitType">
    <xs:annotation>
      <xs:documentation>the external tracking code of this unit for example the tracking code of an external carrier.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="AType">
      <xs:maxLength value="35"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="unitStatusType">
    <xs:restriction base="NType">
      <xs:maxInclusive value="999"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="qualityCodeType">
    <xs:restriction base="AType">
      <xs:maxLength value="10"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="checkMethodType">
    <xs:annotation>
      <xs:documentation>Specifies how the reference should be validated 1=None 2=SSCC 3=DPD</xs:documentation>
    </xs:annotation>
    <xs:restriction base="NType">
      <xs:maxInclusive value="99"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="articleCodeType">
    <xs:restriction base="AType">
      <xs:maxLength value="35"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="quantityOfShippingUnitsType">
    <xs:restriction base="NType">
      <xs:maxInclusive value="999"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="packageCodeOfShippingUnitsType">
    <xs:restriction base="AType">
      <xs:maxLength value="2"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="dangerousGoodsUNNumberType">
    <xs:annotation>
      <xs:documentation>UN codes are preferred. See program ts2118 for configuration details.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="NType">
      <xs:maxInclusive value="9999"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="dangerousGoodsUNSuffixType">
    <xs:restriction base="NType">
      <xs:maxInclusive value="999"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="taricCodeType">
    <xs:annotation>
      <xs:documentation>self explanatory</xs:documentation>
    </xs:annotation>
    <xs:restriction base="AType">
      <xs:maxLength value="22"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="statisticalQuantityType">
    <xs:annotation>
      <xs:documentation>The number of statistical units if the Sagitta information on the goods type stipulate that Customs actually require the number of units.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="NType">
      <xs:maxInclusive value="999999999"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="marksNumberLongType">
    <xs:restriction base="AType">
      <xs:maxLength value="35"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="descriptionType">
    <xs:restriction base="AType">
      <xs:maxLength value="30"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="dangerousGoodsPackageCodeType">
    <xs:restriction base="AType">
      <xs:maxLength value="5"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="goodsAmountInUnitType">
    <xs:restriction base="S3Type">
      <xs:minInclusive value="-999999.999"/>
      <xs:maxInclusive value="999999.999"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="totalQuantityType">
    <xs:annotation>
      <xs:documentation>Quantity for points calculation</xs:documentation>
    </xs:annotation>
    <xs:restriction base="S3Type">
      <xs:minInclusive value="-9999999999.999"/>
      <xs:maxInclusive value="9999999999.999"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="unClassType">
    <xs:annotation>
      <xs:documentation>Primary hazard class</xs:documentation>
    </xs:annotation>
    <xs:restriction base="AType">
      <xs:maxLength value="5"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="dangerousGoodsNameType">
    <xs:restriction base="AType">
      <xs:maxLength value="70"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="technicalDescriptionType">
    <xs:restriction base="AType">
      <xs:maxLength value="200"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="subsidiaryRiskClassIType">
    <xs:restriction base="AType">
      <xs:maxLength value="10"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="subsidiaryRiskClassIIType">
    <xs:restriction base="AType">
      <xs:maxLength value="10"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="subsidiaryRiskClassIIIType">
    <xs:restriction base="AType">
      <xs:maxLength value="10"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ADRClassType">
    <xs:restriction base="AType">
      <xs:maxLength value="12"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ADRCodeType">
    <xs:restriction base="AType">
      <xs:maxLength value="10"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="RIDClassType">
    <xs:restriction base="AType">
      <xs:maxLength value="12"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="RIDCodeType">
    <xs:restriction base="AType">
      <xs:maxLength value="10"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ADNClassType">
    <xs:restriction base="AType">
      <xs:maxLength value="12"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ADNCodeType">
    <xs:restriction base="AType">
      <xs:maxLength value="10"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ICAClassType">
    <xs:restriction base="AType">
      <xs:maxLength value="12"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ICACodeType">
    <xs:restriction base="AType">
      <xs:maxLength value="10"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="IMDClassType">
    <xs:restriction base="AType">
      <xs:maxLength value="12"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="IMDCodeType">
    <xs:restriction base="AType">
      <xs:maxLength value="10"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="packagingGroupType">
    <xs:restriction base="AType">
      <xs:maxLength value="14"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="goodsUnitType">
    <xs:restriction base="NType">
      <xs:maxInclusive value="99"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="pointsType">
    <xs:annotation>
      <xs:documentation>Calculated ADR 1.1.3.6.3. rule</xs:documentation>
    </xs:annotation>
    <xs:restriction base="S3Type">
      <xs:minInclusive value="-999999.999"/>
      <xs:maxInclusive value="999999.999"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="emergencyTemperatureType">
    <xs:restriction base="AType">
      <xs:maxLength value="3"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="controlTemperatureType">
    <xs:restriction base="AType">
      <xs:maxLength value="3"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="flashPointType">
    <xs:restriction base="AType">
      <xs:maxLength value="12"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="emergencyScheduleNumberType">
    <xs:restriction base="AType">
      <xs:maxLength value="7"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tunnelCodeType">
    <xs:restriction base="AType">
      <xs:maxLength value="6"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="provisionsType">
    <xs:restriction base="AType">
      <xs:maxLength value="70"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="allowedOnRailIndicatorType">
    <xs:restriction base="CAType"/>
  </xs:simpleType>
  <xs:simpleType name="limitedQuantityIndicatorType">
    <xs:restriction base="CAType"/>
  </xs:simpleType>
  <xs:simpleType name="expectedQuantityIndicatorType">
    <xs:restriction base="CAType"/>
  </xs:simpleType>
  <xs:simpleType name="harmfulIndicatorType">
    <xs:restriction base="CAType"/>
  </xs:simpleType>
  <xs:simpleType name="wasteIndicatorType">
    <xs:restriction base="CAType"/>
  </xs:simpleType>
  <xs:simpleType name="emptyIndicatorType">
    <xs:restriction base="CAType"/>
  </xs:simpleType>
  <xs:simpleType name="marinePollutantIndicatorType">
    <xs:restriction base="CAType"/>
  </xs:simpleType>
  <xs:simpleType name="marinePollutantNameIndicatorType">
    <xs:restriction base="CAType"/>
  </xs:simpleType>
  <xs:simpleType name="maritimeFirstAidGuideType">
    <xs:restriction base="AType">
      <xs:maxLength value="12"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="innerPackageCodeType">
    <xs:restriction base="AType">
      <xs:maxLength value="5"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="additionalInformationType">
    <xs:restriction base="AType">
      <xs:maxLength value="200"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="isoLanguageCodeType">
    <xs:annotation>
      <xs:documentation>Language codes based on ISO list 639-1</xs:documentation>
    </xs:annotation>
    <xs:restriction base="AType">
      <xs:maxLength value="2"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="technicalNameType">
    <xs:restriction base="AType">
      <xs:maxLength value="200"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="IDType">
    <xs:restriction base="AUType">
      <xs:maxLength value="11"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="typeType">
    <xs:annotation>
      <xs:documentation>depending on configuration, see ts2117</xs:documentation>
    </xs:annotation>
    <xs:restriction base="AUType">
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="sealNumberLong">
    <xs:annotation>
      <xs:documentation>Seal number on the container</xs:documentation>
    </xs:annotation>
    <xs:restriction base="AType">
      <xs:maxLength value="20"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ventilationType">
    <xs:annotation>
      <xs:documentation>Indicate if the container is provided or should be provided with ventilation for the relevant goods type. This is for information purposes only.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="AType">
      <xs:maxLength value="10"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="airHumidityType">
    <xs:annotation>
      <xs:documentation>The minimum humidity for transport. For informational purpose only.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="N2Type">
      <xs:maxInclusive value="9999.99"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="temperatureCelsiusType">
    <xs:annotation>
      <xs:documentation>Inicates the minimum temperature this container can be reached by the cooling of the container.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="S2Type">
      <xs:minInclusive value="-999.99"/>
      <xs:maxInclusive value="999.99"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="temperatureFahrenheitType">
    <xs:restriction base="S2Type">
      <xs:minInclusive value="-999.99"/>
      <xs:maxInclusive value="999.99"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tailorCodeType">
    <xs:restriction base="AType">
      <xs:maxLength value="6"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ST_valueA100">
    <xs:restriction base="AType">
      <xs:maxLength value="100"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
