sample_files/shipment/shipment-message-65101.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.kewill.com/logistics/klic/shipment" elementFormDefault="qualified" targetNamespace="http://www.kewill.com/logistics/klic/shipment">
  <xs:include schemaLocation="shipment-elements-65101.xsd"/>
  <xs:element name="shipment" type="shipmentType"/>
  <xs:complexType name="shipmentType">
    <xs:sequence>
      <xs:element name="ediCustomerNumber" type="ediCustomerNumberType" minOccurs="0"/>
      <xs:element name="ediCustomerDepartment" type="ediCustomerDepartmentType" minOccurs="0"/>
      <xs:element name="ediParm1" type="ediParm1Type" minOccurs="0"/>
      <xs:element name="ediParm2" type="ediParm2Type" minOccurs="0"/>
      <xs:element name="ediParm3" type="ediParm3Type" minOccurs="0"/>
      <xs:element name="transmitter" type="transmitterType" minOccurs="0"/>
      <xs:element name="receiver" type="receiverType" minOccurs="0"/>
      <xs:element name="ediReference" type="ediReferenceType"/>
      <xs:element name="referenceIndication" type="referenceIndicationType" minOccurs="0"/>
      <xs:element name="internalShipmentNumber" type="internalShipmentNumberType" minOccurs="0"/>
      <xs:element name="ediFunction1" type="ediFunction1Type"/>
      <xs:element name="ediCustomerSearchName" type="ediCustomerSearchNameType" minOccurs="0"/>
      <xs:element name="reason" type="reasonType" minOccurs="0"/>
      <xs:element name="employeeInitials" type="employeeInitialsType" minOccurs="0"/>
      <xs:element name="dateTimeZone" type="dateTimeType" minOccurs="0"/>
      <xs:element name="file" type="fileType">
        <xs:annotation>
          <xs:documentation>shipment file header</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="type" type="stringType" fixed="tag" use="required"/>
  </xs:complexType>
  <xs:complexType name="fileType">
    <xs:sequence>
      <xs:element name="arrivalDate" type="arrivalDateType" minOccurs="0"/>
      <xs:element name="loadingDate" type="loadingDateType" minOccurs="0"/>
      <xs:element name="loadingTime" type="loadingTimeType" minOccurs="0"/>
      <xs:element name="unloadingDate" type="unloadingDateType" minOccurs="0"/>
      <xs:element name="unloadingTime" type="unloadingTimeType" minOccurs="0"/>
      <xs:element name="marksAndNumber" type="marksAndNumberType" minOccurs="0"/>
      <xs:element name="waybill" type="waybillType" minOccurs="0"/>
      <xs:element name="houseWaybill" type="houseWaybillType" minOccurs="0"/>
      <xs:element name="primaryReference" type="primaryReferenceType" minOccurs="0"/>
      <xs:element name="serviceLevel" type="serviceLevelType" minOccurs="0"/>
      <xs:element name="tariffType" type="tariffTypeType" minOccurs="0"/>
      <xs:element name="deliveryTerm" type="deliveryTermType" minOccurs="0"/>
      <xs:element name="deliveryTermPlace" type="deliveryTermPlaceType" minOccurs="0"/>
      <xs:element name="originPlaceCode" type="originPlaceCodeType" minOccurs="0"/>
      <xs:element name="destinationPlaceCode" type="destinationPlaceCodeType" minOccurs="0"/>
      <xs:element name="codeShedHandling" type="codeShedHandlingType" minOccurs="0"/>
      <xs:element name="daysOfShedRent" type="daysOfShedRentType" minOccurs="0"/>
      <xs:element name="shedLocationBerth" type="shedLocationBerthType" minOccurs="0"/>
      <xs:element name="totals" type="totalsType" minOccurs="0"/>
      <xs:element name="dimension" type="dimensionType" minOccurs="0"/>
      <xs:element name="transport" type="transportType" minOccurs="0"/>
      <xs:element name="seafreight" type="seafreightType" minOccurs="0"/>
      <xs:element name="airfreight" type="airfreightType" minOccurs="0"/>
      <xs:element name="customItems" type="customItemsType" minOccurs="0"/>
      <xs:element name="amounts" type="amountsType" minOccurs="0"/>
      <xs:element name="codes" type="codesType" minOccurs="0"/>
      <xs:element name="parameters" type="parametersType" minOccurs="0"/>
      <xs:element name="tailorFiller15" type="tailorFiller15Type" minOccurs="0"/>
      <xs:element name="cashInfo" type="cashInfoType" minOccurs="0" maxOccurs="3"/>
      <xs:element name="extraAmount" type="extraAmountType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="freightCharge" type="freightChargeType" minOccurs="0" maxOccurs="99"/>
      <xs:element name="meansOfTransport" type="meansOfTransportType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="textKeys" type="textKeysType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="dateTimeZones" type="dateTimeZonesType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="address" type="addressType" minOccurs="0" maxOccurs="100"/>
      <xs:element name="extraReference" type="extraReferenceType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="returnReference" type="returnReferenceType" minOccurs="0"/>
      <xs:element name="additionalServices" type="additionalServicesType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="conNote" type="conNoteType" minOccurs="0"/>
      <xs:element name="link" type="linkType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="freeText" type="freeTextType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="emission" type="emissionType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="transportInstruction" type="transportInstructionType" minOccurs="0" maxOccurs="99"/>
      <xs:element name="planCharacteristic" type="planCharacteristicType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="shippingUnit" type="shippingUnitType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="goodsLine" type="goodsLineType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="container" type="containerType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="costAndCharge" type="costAndChargeType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="tailorMade" type="tailorMadeType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="type" type="stringType" fixed="tag" use="required"/>
  </xs:complexType>
  <xs:complexType name="cashInfoType">
    <xs:sequence>
      <xs:element name="sequenceNumber" type="codSequenceNumber" minOccurs="0"/>
      <xs:element name="currencyCode" type="currencyCodeType" minOccurs="0"/>
      <xs:element name="amount" type="ST_amountS214" minOccurs="0"/>
      <xs:element name="text" type="textType" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="type" type="stringType" fixed="tag" use="required"/>
  </xs:complexType>
  <xs:complexType name="extraAmountType">
    <xs:sequence>
      <xs:element name="amountType" type="amountTypeType" minOccurs="0"/>
      <xs:element name="currencyCode" type="currencyCodeType" minOccurs="0"/>
      <xs:element name="amount" type="ST_amountS219" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="type" type="stringType" fixed="tag" use="required"/>
  </xs:complexType>
  <xs:complexType name="freightChargeType">
    <xs:annotation>
      <xs:documentation>for general charges (oa disbursement) use sequence numbers 1 till 79 for other charges due agent use sequence numbers 80 till 83 for other charges due carrier use sequence numbers 90 till 91 for fuel surcharge use sequence number 92 for security surcharge use sequence number 93</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="sequenceNumber" type="sequenceNumberType" minOccurs="0"/>
      <xs:element name="otherChargeCode" type="otherChargeCodeType" minOccurs="0"/>
      <xs:element name="description" type="ST_descriptionA20" minOccurs="0"/>
      <xs:element name="currencyCode" type="currencyCodeType" minOccurs="0"/>
      <xs:element name="amount" type="amountType" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="type" type="stringType" fixed="tag" use="required"/>
  </xs:complexType>
  <xs:complexType name="meansOfTransportType">
    <xs:sequence>
      <xs:element name="displaySequence" type="displaySequenceType" minOccurs="0"/>
      <xs:element name="motMode" type="motModeType" minOccurs="0"/>
      <xs:element name="motType" type="motTypeType" minOccurs="0"/>
      <xs:element name="motID" type="motIDType" minOccurs="0"/>
      <xs:element name="motName" type="motNameType" minOccurs="0"/>
      <xs:element name="motIdentity" type="motIdentityType" minOccurs="0"/>
      <xs:element name="motOrigin" type="motOriginType" minOccurs="0"/>
      <xs:element name="motDestination" type="motDestinationType" minOccurs="0"/>
      <xs:element name="shipbroker" type="shipbrokerType" minOccurs="0"/>
      <xs:element name="shedLocationBerth" type="shedLocationBerthType" minOccurs="0"/>
      <xs:element name="ETD" type="ETDType" minOccurs="0"/>
      <xs:element name="ATD" type="ATDType" minOccurs="0"/>
      <xs:element name="ETA" type="ETAType" minOccurs="0"/>
      <xs:element name="ATA" type="ATAType" minOccurs="0"/>
      <xs:element name="motNationality" type="motNationalityType" minOccurs="0"/>
      <xs:element name="equipmentEmissionID" type="equipmentEmissionIDType" minOccurs="0"/>
      <xs:element name="emission" type="emissionType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="type" type="stringType" fixed="tag" use="required"/>
  </xs:complexType>
  <xs:complexType name="emissionType">
    <xs:sequence>
      <xs:element name="emissionType" type="emissionTypeType" minOccurs="0"/>
      <xs:element name="estimatedEmissionValue" type="estimatedEmissionValueType" minOccurs="0"/>
      <xs:element name="actualEmissionValue" type="actualEmissionValueType" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="type" type="stringType" fixed="tag" use="required"/>
  </xs:complexType>
  <xs:complexType name="textKeysType">
    <xs:annotation>
      <xs:documentation>Text keys are used for (external) communication and as conditions in the generation of e.g. cost and charge lines, network and cross-dock routing. They play an important role in the communication between agents and customers regarding shipment information within the German "sammelgut" transport networks (e.g. SYA, SYE)</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="textKey" type="textKeyType" minOccurs="0"/>
      <xs:element name="date" type="dateType" minOccurs="0"/>
      <xs:element name="fromTime" type="fromTimeType" minOccurs="0"/>
      <xs:element name="toTime" type="toTimeType" minOccurs="0"/>
      <xs:element name="additionalInformation" type="ST_additionalInformationA35" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="type" type="stringType" fixed="tag" use="required"/>
  </xs:complexType>
  <xs:complexType name="dateTimeZonesType">
    <xs:annotation>
      <xs:documentation>The shipment contains a number of fixed date and time fields, like loading and unloading date and time. This "dateTimeZones" is used to define you're own date / time / zone fields. The type is defined in "typeOfDate", the value is defined in the "dateTimeZone".</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="typeOfDate" type="typeOfDateType" minOccurs="0"/>
      <xs:element name="dateTimeZone" type="dateTimeType" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="type" type="stringType" fixed="tag" use="required"/>
  </xs:complexType>
  <xs:complexType name="addressType">
    <xs:annotation>
      <xs:documentation>There are 3 ways to add an address to the file: 1) Via mapping of relation nr+search string+country code+postal code+ address line 1+name line 1. All or any of those fields values will be used to attempt a mapping to a chainware address. (see ts5002, address mapping) If there is no mapping possible options 2) or 3) apply. 2) Using a known relation/searchname combination 3) Manual address NOTE: 1) Overrides 2) and 3) 2) and 3) see EDI-layer settings in ts5002.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="addressType" type="addressTypeType" minOccurs="0"/>
      <xs:element name="searchName" type="searchNameType" minOccurs="0"/>
      <xs:element name="relationNumber" type="relationNumberType" minOccurs="0"/>
      <xs:element name="searchString" type="searchStringType" minOccurs="0"/>
      <xs:element name="additional" type="additionalType" minOccurs="0"/>
      <xs:element name="addressDetails" type="addressDetailsType" minOccurs="0"/>
      <xs:element name="contactInformation" type="contactInformationType" minOccurs="0"/>
      <xs:element name="timeFrames" type="timeFramesType" minOccurs="0" maxOccurs="99"/>
    </xs:sequence>
    <xs:attribute name="type" type="stringType" fixed="tag" use="required"/>
  </xs:complexType>
  <xs:complexType name="timeFramesType">
    <xs:annotation>
      <xs:documentation>The opening hours of an address.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="fromTime" type="fromTimeType" minOccurs="0"/>
      <xs:element name="tillTime" type="tillTimeType" minOccurs="0"/>
      <xs:element name="tailorFillerA10" type="tailorFillerA10Type" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="type" type="stringType" fixed="tag" use="required"/>
  </xs:complexType>
  <xs:complexType name="extraReferenceType">
    <xs:sequence>
      <xs:element name="referenceCode" type="referenceCodeType" minOccurs="0"/>
      <xs:element name="referenceText" type="referenceTextType" minOccurs="0"/>
      <xs:element name="tailorFiller20" type="tailorFiller20Type" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="type" type="stringType" fixed="tag" use="required"/>
  </xs:complexType>
  <xs:complexType name="returnReferenceType">
    <xs:annotation>
      <xs:documentation>A return shipment can be connected to the original shipment via the return reference section.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="referenceText" type="referenceTextType" minOccurs="0"/>
      <xs:element name="mainFileNumber" type="mainFileNumberType" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="type" type="stringType" fixed="tag" use="required"/>
  </xs:complexType>
  <xs:complexType name="additionalServicesType">
    <xs:sequence>
      <xs:element name="serviceCode" type="serviceCodeType" minOccurs="0"/>
      <xs:element name="tariffBaseValue" type="tariffBaseValueType" minOccurs="0"/>
      <xs:element name="conditionValue" type="conditionValueType" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="type" type="stringType" fixed="tag" use="required"/>
  </xs:complexType>
  <xs:complexType name="conNoteType">
    <xs:annotation>
      <xs:documentation>A con note number is shipment note number. This is an unique reference number to identify a shipment. The con note number has a alphanumeric prefix and a numeric part. The numeric part can be the shipment number or a number within a range of numbers received from a carrier.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="prefix" type="prefixType" minOccurs="0"/>
      <xs:element name="number" type="numberType" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="type" type="stringType" fixed="tag" use="required"/>
  </xs:complexType>
  <xs:complexType name="linkType">
    <xs:sequence>
      <xs:element name="linkType" type="linkTypeType" minOccurs="0"/>
      <xs:element name="linkText" type="linkTextType" minOccurs="0"/>
      <xs:element name="linkAddress" type="linkAddressType" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="type" type="stringType" fixed="tag" use="required"/>
  </xs:complexType>
  <xs:complexType name="freeTextType">
    <xs:sequence>
      <xs:element name="typeOfFreeText" type="typeOfFreeTextType" minOccurs="0"/>
      <xs:element name="text" type="textType" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="type" type="stringType" fixed="tag" use="required"/>
  </xs:complexType>
  <xs:complexType name="transportInstructionType">
    <xs:sequence>
      <xs:element name="carriageCondition" type="carriageConditionType" minOccurs="0"/>
      <xs:element name="description" type="ST_descriptionA30" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="type" type="stringType" fixed="tag" use="required"/>
  </xs:complexType>
  <xs:complexType name="planCharacteristicType">
    <xs:annotation>
      <xs:documentation>In this tag extra characteristics can be entered which are important for planning. For example COOL means a COOLED transport. See program ts3305 for possible values.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="characteristicCode" type="characteristicCodeType" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="type" type="stringType" fixed="tag" use="required"/>
  </xs:complexType>
  <xs:complexType name="shippingUnitType">
    <xs:sequence>
      <xs:element name="containedInMSU" type="containedInMSUType" minOccurs="0"/>
      <xs:element name="externalUnit" type="externalUnitType" minOccurs="0"/>
      <xs:element name="carrierReference" type="carrierReferenceType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="shippingUnitDetails" type="shippingUnitDetailsType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="type" type="stringType" fixed="tag" use="required"/>
  </xs:complexType>
  <xs:complexType name="carrierReferenceType">
    <xs:sequence>
      <xs:element name="carrier" type="carrierType" minOccurs="0"/>
      <xs:element name="externalUnit" type="externalUnitType" minOccurs="0"/>
      <xs:element name="checkMethod" type="checkMethodType" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="type" type="stringType" fixed="tag" use="required"/>
  </xs:complexType>
  <xs:complexType name="shippingUnitDetailsType">
    <xs:sequence>
      <xs:element name="quantity" type="quantityType" minOccurs="0"/>
      <xs:element name="packageCode" type="packageCodeType" minOccurs="0"/>
      <xs:element name="grossWeight" type="grossWeightType" minOccurs="0"/>
      <xs:element name="netWeight" type="netWeightType" minOccurs="0"/>
      <xs:element name="volume" type="volumeType" minOccurs="0"/>
      <xs:element name="volumeCode" type="volumeCodeType" minOccurs="0"/>
      <xs:element name="cubicMeters" type="cubicMetersType" minOccurs="0"/>
      <xs:element name="loadingMeters" type="loadingMetersType" minOccurs="0"/>
      <xs:element name="goodsValue" type="goodsValueType" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="type" type="stringType" fixed="tag" use="required"/>
  </xs:complexType>
  <xs:complexType name="goodsLineType">
    <xs:sequence>
      <xs:element name="articleCode" type="articleCodeType" minOccurs="0"/>
      <xs:element name="primaryReference" type="primaryReferenceType" minOccurs="0"/>
      <xs:element name="quantity" type="quantityType" minOccurs="0"/>
      <xs:element name="packageCode" type="packageCodeType" minOccurs="0"/>
      <xs:element name="commodityCode" type="commodityCodeType" minOccurs="0"/>
      <xs:element name="grossWeight" type="grossWeightType" minOccurs="0"/>
      <xs:element name="netWeight" type="netWeightType" minOccurs="0"/>
      <xs:element name="volumeCode" type="volumeCodeType" minOccurs="0"/>
      <xs:element name="dimension" type="dimensionType" minOccurs="0"/>
      <xs:element name="volume" type="volumeType" minOccurs="0"/>
      <xs:element name="cubicMeters" type="cubicMetersType" minOccurs="0"/>
      <xs:element name="loadingMeters" type="loadingMetersType" minOccurs="0"/>
      <xs:element name="goodsValueCurrency" type="goodsValueCurrencyType" minOccurs="0"/>
      <xs:element name="goodsValue" type="goodsValueType" minOccurs="0"/>
      <xs:element name="quantityOfShippingUnits" type="quantityOfShippingUnitsType" minOccurs="0"/>
      <xs:element name="packageCodeOfShippingUnits" type="packageCodeOfShippingUnitsType" minOccurs="0"/>
      <xs:element name="dangerousGoods" type="dangerousGoodsType" minOccurs="0"/>
      <xs:element name="customLineItems" type="customLineItemsTms" minOccurs="0"/>
      <xs:element name="tailorFiller20" type="tailorFiller20Type" minOccurs="0"/>
      <xs:element name="subQuantity" type="subQuantityType" minOccurs="0" maxOccurs="99"/>
      <xs:element name="marksAndNumbers" type="marksAndNumbersType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="goodsDescription" type="goodsDescriptionType" minOccurs="0" maxOccurs="99"/>
      <xs:element name="dangerousGoodsSpecification" type="dangerousGoodsSpecificationType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="container" type="containerType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="shippingUnit" type="shippingUnitType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="type" type="stringType" fixed="tag" use="required"/>
  </xs:complexType>
  <xs:complexType name="subQuantityType">
    <xs:sequence>
      <xs:element name="quantity" type="quantityType" minOccurs="0"/>
      <xs:element name="length" type="lengthType" minOccurs="0"/>
      <xs:element name="width" type="widthType" minOccurs="0"/>
      <xs:element name="height" type="heightType" minOccurs="0"/>
      <xs:element name="volumeCode" type="volumeCodeType" minOccurs="0"/>
      <xs:element name="volume" type="volumeType" minOccurs="0"/>
      <xs:element name="cubicMeters" type="cubicMetersType" minOccurs="0"/>
      <xs:element name="loadingMeters" type="loadingMetersType" minOccurs="0"/>
      <xs:element name="packageCode" type="packageCodeType" minOccurs="0"/>
      <xs:element name="commodityCode" type="commodityCodeType" minOccurs="0"/>
      <xs:element name="commodityDescription" type="commodityDescriptionType" minOccurs="0"/>
      <xs:element name="marksNumberLong" type="marksNumberLongType" minOccurs="0"/>
      <xs:element name="grossWeight" type="grossWeightType" minOccurs="0"/>
      <xs:element name="netWeight" type="netWeightType" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="type" type="stringType" fixed="tag" use="required"/>
  </xs:complexType>
  <xs:complexType name="marksAndNumbersType">
    <xs:sequence>
      <xs:element name="marksAndNumber" type="marksAndNumberType" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="type" type="stringType" fixed="tag" use="required"/>
  </xs:complexType>
  <xs:complexType name="goodsDescriptionType">
    <xs:sequence>
      <xs:element name="description" type="descriptionType" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="type" type="stringType" fixed="tag" use="required"/>
  </xs:complexType>
  <xs:complexType name="dangerousGoodsSpecificationType">
    <xs:sequence>
      <xs:element name="quantity" type="quantityType" minOccurs="0"/>
      <xs:element name="dangerousGoodsPackageCode" type="dangerousGoodsPackageCodeType" minOccurs="0"/>
      <xs:element name="grossWeight" type="grossWeightType" minOccurs="0"/>
      <xs:element name="netWeight" type="netWeightType" minOccurs="0"/>
      <xs:element name="volume" type="volumeType" minOccurs="0"/>
      <xs:element name="goodsAmountInUnit" type="goodsAmountInUnitType" minOccurs="0"/>
      <xs:element name="totalQuantity" type="totalQuantityType" minOccurs="0"/>
      <xs:element name="dangerousGoodsUNNumber" type="dangerousGoodsUNNumberType" minOccurs="0"/>
      <xs:element name="dangerousGoodsUNSuffix" type="dangerousGoodsUNSuffixType" minOccurs="0"/>
      <xs:element name="unClass" type="unClassType" minOccurs="0"/>
      <xs:element name="dangerousGoodsName" type="dangerousGoodsNameType" minOccurs="0"/>
      <xs:element name="technicalDescription" type="technicalDescriptionType" minOccurs="0"/>
      <xs:element name="subsidiaryRiskClassI" type="subsidiaryRiskClassIType" minOccurs="0"/>
      <xs:element name="subsidiaryRiskClassII" type="subsidiaryRiskClassIIType" minOccurs="0"/>
      <xs:element name="subsidiaryRiskClassIII" type="subsidiaryRiskClassIIIType" minOccurs="0"/>
      <xs:element name="ADRClass" type="ADRClassType" minOccurs="0"/>
      <xs:element name="ADRCode" type="ADRCodeType" minOccurs="0"/>
      <xs:element name="RIDClass" type="RIDClassType" minOccurs="0"/>
      <xs:element name="RIDCode" type="RIDCodeType" minOccurs="0"/>
      <xs:element name="ADNClass" type="ADNClassType" minOccurs="0"/>
      <xs:element name="ADNCode" type="ADNCodeType" minOccurs="0"/>
      <xs:element name="ICAClass" type="ICAClassType" minOccurs="0"/>
      <xs:element name="ICACode" type="ICACodeType" minOccurs="0"/>
      <xs:element name="IMDClass" type="IMDClassType" minOccurs="0"/>
      <xs:element name="IMDCode" type="IMDCodeType" minOccurs="0"/>
      <xs:element name="packagingGroup" type="packagingGroupType" minOccurs="0"/>
      <xs:element name="goodsUnit" type="goodsUnitType" minOccurs="0"/>
      <xs:element name="points" type="pointsType" minOccurs="0"/>
      <xs:element name="emergencyTemperature" type="emergencyTemperatureType" minOccurs="0"/>
      <xs:element name="controlTemperature" type="controlTemperatureType" minOccurs="0"/>
      <xs:element name="flashPoint" type="flashPointType" minOccurs="0"/>
      <xs:element name="emergencyScheduleNumber" type="emergencyScheduleNumberType" minOccurs="0"/>
      <xs:element name="tunnelCode" type="tunnelCodeType" minOccurs="0"/>
      <xs:element name="provisions" type="provisionsType" minOccurs="0"/>
      <xs:element name="allowedOnRailIndicator" type="allowedOnRailIndicatorType" minOccurs="0"/>
      <xs:element name="limitedQuantityIndicator" type="limitedQuantityIndicatorType" minOccurs="0"/>
      <xs:element name="expectedQuantityIndicator" type="expectedQuantityIndicatorType" minOccurs="0"/>
      <xs:element name="harmfulIndicator" type="harmfulIndicatorType" minOccurs="0"/>
      <xs:element name="wasteIndicator" type="wasteIndicatorType" minOccurs="0"/>
      <xs:element name="emptyIndicator" type="emptyIndicatorType" minOccurs="0"/>
      <xs:element name="marinePollutantIndicator" type="marinePollutantIndicatorType" minOccurs="0"/>
      <xs:element name="marinePollutantNameIndicator" type="marinePollutantNameIndicatorType" minOccurs="0"/>
      <xs:element name="maritimeFirstAidGuide" type="maritimeFirstAidGuideType" minOccurs="0"/>
      <xs:element name="innerPackageCode" type="innerPackageCodeType" minOccurs="0"/>
      <xs:element name="additionalInformation" type="additionalInformationType" minOccurs="0"/>
      <xs:element name="technicalNames" type="technicalNamesType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="type" type="stringType" fixed="tag" use="required"/>
  </xs:complexType>
  <xs:complexType name="technicalNamesType">
    <xs:sequence>
      <xs:element name="isoLanguageCode" type="isoLanguageCodeType" minOccurs="0"/>
      <xs:element name="technicalName" type="technicalNameType" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="type" type="stringType" fixed="tag" use="required"/>
  </xs:complexType>
  <xs:complexType name="containerType">
    <xs:annotation>
      <xs:documentation>Although the max occurrence is set to unbound it is depending on settings. When the 'old' (prior version 6.03) container structure is used, the max occurrence is effectively 99 instead of unbound.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ID" type="IDType" minOccurs="0"/>
      <xs:element name="type" type="typeType" minOccurs="0"/>
      <xs:element name="sealNumber" type="sealNumberLong" minOccurs="0"/>
      <xs:element name="ventilation" type="ventilationType" minOccurs="0"/>
      <xs:element name="airHumidity" type="airHumidityType" minOccurs="0"/>
      <xs:element name="temperatureCelsius" type="temperatureCelsiusType" minOccurs="0"/>
      <xs:element name="temperatureFahrenheit" type="temperatureFahrenheitType" minOccurs="0"/>
      <xs:element name="quantity" type="quantityType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Number of packages in the container</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="grossWeight" type="grossWeightType" minOccurs="0"/>
      <xs:element name="volume" type="volumeType" minOccurs="0"/>
      <xs:element name="goodsValue" type="goodsValueType" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="type" type="stringType" fixed="tag" use="required"/>
  </xs:complexType>
  <xs:complexType name="costAndChargeType">
    <xs:sequence>
      <xs:element name="transactionType" type="transactionTypeType" minOccurs="0"/>
      <xs:element name="addressType" type="addressTypeType" minOccurs="0"/>
      <xs:element name="activityCode" type="activityCodeType" minOccurs="0"/>
      <xs:element name="currencyCode" type="currencyCodeType" minOccurs="0"/>
      <xs:element name="amount" type="amountType" minOccurs="0"/>
      <xs:element name="description" type="ST_descriptionA50" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="type" type="stringType" fixed="tag" use="required"/>
  </xs:complexType>
  <xs:complexType name="tailorMadeType">
    <xs:sequence>
      <xs:element name="tailorCode" type="tailorCodeType" minOccurs="0"/>
      <xs:element name="value" type="ST_valueA100" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="type" type="stringType" fixed="tag" use="required"/>
  </xs:complexType>
  <xs:complexType name="totalsType">
    <xs:annotation>
      <xs:documentation>This tag is only usefull when the tag goodsLine is NOT used. The values of the elements within this tag will be ignored when the tag goodsLine is used.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="quantity" type="quantityType" minOccurs="0"/>
      <xs:element name="packageCode" type="packageCodeType" minOccurs="0"/>
      <xs:element name="commodityCode" type="commodityCodeType" minOccurs="0"/>
      <xs:element name="commodityDescription" type="commodityDescriptionType" minOccurs="0"/>
      <xs:element name="grossWeight" type="grossWeightType" minOccurs="0"/>
      <xs:element name="netWeight" type="netWeightType" minOccurs="0"/>
      <xs:element name="volumeCode" type="volumeCodeType" minOccurs="0"/>
      <xs:element name="volume" type="volumeType" minOccurs="0"/>
      <xs:element name="cubicMeters" type="cubicMetersType" minOccurs="0"/>
      <xs:element name="loadingMeters" type="loadingMetersType" minOccurs="0"/>
      <xs:element name="goodsValueCurrency" type="goodsValueCurrencyType" minOccurs="0"/>
      <xs:element name="goodsValue" type="goodsValueType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="dimensionType">
    <xs:annotation>
      <xs:documentation>This info will be ignored when goodsLine is used.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="length" type="lengthType" minOccurs="0"/>
      <xs:element name="width" type="widthType" minOccurs="0"/>
      <xs:element name="height" type="heightType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="transportType">
    <xs:sequence>
      <xs:element name="deliveryTermAgent" type="deliveryTermAgentType" minOccurs="0"/>
      <xs:element name="domesticTransport" type="domesticTransportType" minOccurs="0"/>
      <xs:element name="domesticTransportAmount" type="domesticTransportAmountType" minOccurs="0"/>
      <xs:element name="CollectiveCMR" type="CollectiveCMRType" minOccurs="0"/>
      <xs:element name="containerPlanning" type="containerPlanningType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="seafreightType">
    <xs:sequence>
      <xs:element name="finalDestinationPlaceCode" type="finalDestinationPlaceCodeType" minOccurs="0"/>
      <xs:element name="fclLcl" type="fclLclType" minOccurs="0"/>
      <xs:element name="originals" type="originalsType" minOccurs="0"/>
      <xs:element name="copies" type="copiesType" minOccurs="0"/>
      <xs:element name="vesselCurrencyCode" type="vesselCurrencyCodeType" minOccurs="0"/>
      <xs:element name="vesselRate" type="vesselRateType" minOccurs="0"/>
      <xs:element name="disbursementPrepaidCollect" type="disbursementPrepaidCollectType" minOccurs="0"/>
      <xs:element name="placeOfReceipt" type="placeOfReceiptType" minOccurs="0"/>
      <xs:element name="placeOfDelivery" type="placeOfDeliveryType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="airfreightType">
    <xs:sequence>
      <xs:element name="airwayBill" type="airwayBillType" minOccurs="0"/>
      <xs:element name="routing" type="routingType" minOccurs="0"/>
      <xs:element name="cargoPrepaidCollect" type="cargoPrepaidCollectType" minOccurs="0"/>
      <xs:element name="cargoCurrencyCode" type="cargoCurrencyCodeType" minOccurs="0"/>
      <xs:element name="cargoExchangeRate" type="cargoExchangeRateType" minOccurs="0"/>
      <xs:element name="cargoAmount" type="cargoAmountType" minOccurs="0"/>
      <xs:element name="costsPrepaidCollect" type="costsPrepaidCollectType" minOccurs="0"/>
      <xs:element name="costsCurrencyCode" type="costsCurrencyCodeType" minOccurs="0"/>
      <xs:element name="costsExchangeRate" type="costsExchangeRateType" minOccurs="0"/>
      <xs:element name="costsAmount" type="costsAmountType" minOccurs="0"/>
      <xs:element name="carriageAmount" type="carriageAmountType" minOccurs="0"/>
      <xs:element name="customsAmount" type="customsAmountType" minOccurs="0"/>
      <xs:element name="insuranceAmount" type="insuranceAmountType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="customItemsType">
    <xs:annotation>
      <xs:documentation>This info is ignored when goodsLine is used.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="manifestNumber" type="manifestNumberType" minOccurs="0"/>
      <xs:element name="documentCode" type="documentCodeType" minOccurs="0"/>
      <xs:element name="documentNumber" type="documentNumberType" minOccurs="0"/>
      <xs:element name="documentIssuingOffice" type="documentIssuingOfficeType" minOccurs="0"/>
      <xs:element name="specialCustomsInformation" type="specialCustomsInformationType" minOccurs="0"/>
      <xs:element name="documentItemNumber" type="documentItemNumberType" minOccurs="0"/>
      <xs:element name="countryOfOrigin" type="countryOfOriginType" minOccurs="0"/>
      <xs:element name="countryOfDespatch" type="countryOfDespatchType" minOccurs="0"/>
      <xs:element name="countryOfDestination" type="countryOfDestinationType" minOccurs="0"/>
      <xs:element name="documentIssuingDate" type="documentIssuingDateType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="amountsType">
    <xs:annotation>
      <xs:documentation>The amounts can be used for tailor made solutions. Check with PSG consultants when to use.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="amount1" type="amount1Type" minOccurs="0"/>
      <xs:element name="amount2" type="amount2Type" minOccurs="0"/>
      <xs:element name="amount3" type="amount3Type" minOccurs="0"/>
      <xs:element name="amount4" type="amount4Type" minOccurs="0"/>
      <xs:element name="amount5" type="amount5Type" minOccurs="0"/>
      <xs:element name="amount6" type="amount6Type" minOccurs="0"/>
      <xs:element name="amount7" type="amount7Type" minOccurs="0"/>
      <xs:element name="amount8" type="amount8Type" minOccurs="0"/>
      <xs:element name="amount9" type="amount9Type" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="codesType">
    <xs:annotation>
      <xs:documentation>The codes can be used for tailor made solutions. Check with PSG consultants when to use.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="code1" type="code1Type" minOccurs="0"/>
      <xs:element name="code2" type="code2Type" minOccurs="0"/>
      <xs:element name="code3" type="code3Type" minOccurs="0"/>
      <xs:element name="code4" type="code4Type" minOccurs="0"/>
      <xs:element name="code5" type="code5Type" minOccurs="0"/>
      <xs:element name="code6" type="code6Type" minOccurs="0"/>
      <xs:element name="code7" type="code7Type" minOccurs="0"/>
      <xs:element name="code8" type="code8Type" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="parametersType">
    <xs:annotation>
      <xs:documentation>The parameters can be used for tailor made solutions. Check with PSG consultants when to use.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="parameterYn01" type="parameterYn01Type" minOccurs="0"/>
      <xs:element name="parameterYn02" type="parameterYn02Type" minOccurs="0"/>
      <xs:element name="parameterYn03" type="parameterYn03Type" minOccurs="0"/>
      <xs:element name="parameterYn04" type="parameterYn04Type" minOccurs="0"/>
      <xs:element name="parameterYn05" type="parameterYn05Type" minOccurs="0"/>
      <xs:element name="parameterYn06" type="parameterYn06Type" minOccurs="0"/>
      <xs:element name="parameterYn07" type="parameterYn07Type" minOccurs="0"/>
      <xs:element name="parameterYn08" type="parameterYn08Type" minOccurs="0"/>
      <xs:element name="parameterYn09" type="parameterYn09Type" minOccurs="0"/>
      <xs:element name="parameterYn10" type="parameterYn10Type" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="shipbrokerType">
    <xs:sequence>
      <xs:element name="searchName" type="searchNameType" minOccurs="0"/>
      <xs:element name="relationNumber" type="relationNumberType" minOccurs="0"/>
      <xs:element name="searchString" type="searchStringType" minOccurs="0"/>
      <xs:element name="vatIdNumber" type="vatIdNumberType" minOccurs="0"/>
      <xs:element name="ILNNumber" type="ILNNumberType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="additionalType">
    <xs:sequence>
      <xs:element name="vatIdNumber" type="vatIdNumberType" minOccurs="0"/>
      <xs:element name="ILNNumber" type="ILNNumberType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="addressDetailsType">
    <xs:sequence>
      <xs:element name="nameLine1" type="nameLine1Type" minOccurs="0"/>
      <xs:element name="nameLine2" type="nameLine2Type" minOccurs="0"/>
      <xs:element name="nameLine3" type="nameLine3Type" minOccurs="0"/>
      <xs:element name="addressLine1" type="addressLine1Type" minOccurs="0"/>
      <xs:element name="addressLine2" type="addressLine2Type" minOccurs="0"/>
      <xs:element name="addressLine3" type="addressLine3Type" minOccurs="0"/>
      <xs:element name="cityName" type="cityNameType" minOccurs="0"/>
      <xs:element name="cityName2" type="cityName2Type" minOccurs="0"/>
      <xs:element name="destinationCode" type="destinationCodeType" minOccurs="0"/>
      <xs:element name="postalCode" type="postalCodeType" minOccurs="0"/>
      <xs:element name="countryCode" type="countryCodeType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="contactInformationType">
    <xs:sequence>
      <xs:element name="languageCode" type="languageCodeType" minOccurs="0"/>
      <xs:element name="e-mailAddress" type="e-mailAddressType" minOccurs="0"/>
      <xs:element name="internetAddress" type="internetAddressType" minOccurs="0"/>
      <xs:element name="contactPerson" type="contactPersonType" minOccurs="0"/>
      <xs:element name="telephoneNumber" type="telephoneNumberType" minOccurs="0"/>
      <xs:element name="telefaxNumber" type="telefaxNumberType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="carrierType">
    <xs:sequence>
      <xs:element name="searchName" type="searchNameType" minOccurs="0"/>
      <xs:element name="relationNumber" type="relationNumberType" minOccurs="0"/>
      <xs:element name="searchString" type="searchStringType" minOccurs="0"/>
      <xs:element name="vatIdNumber" type="vatIdNumberType" minOccurs="0"/>
      <xs:element name="ILNNumber" type="ILNNumberType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="dangerousGoodsType">
    <xs:sequence>
      <xs:element name="dangerousGoodsUNNumber" type="dangerousGoodsUNNumberType" minOccurs="0"/>
      <xs:element name="dangerousGoodsUNSuffix" type="dangerousGoodsUNSuffixType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="customLineItemsTms">
    <xs:sequence>
      <xs:element name="taricCode" type="taricCodeType" minOccurs="0"/>
      <xs:element name="documentCode" type="documentCodeType" minOccurs="0"/>
      <xs:element name="documentNumber" type="documentNumberType" minOccurs="0"/>
      <xs:element name="documentIssuingOffice" type="documentIssuingOfficeType" minOccurs="0"/>
      <xs:element name="countryOfOrigin" type="countryOfOriginType" minOccurs="0"/>
      <xs:element name="documentIssuingDate" type="documentIssuingDateType" minOccurs="0"/>
      <xs:element name="statisticalQuantity" type="statisticalQuantityType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
